

  <div class="card" (click)="cerrar()">

    <div class="card-header">
        <h3 class="badge badge-outline-primary">{{data.codigoDeBarra}}</h3>
        <p>{{data.nombreymarcaunico}}</p>
        <span class="bag">{{data.bodega.nombre}}</span>


        <div class="price">
            <p>VALOR DE COMPRA : <span><strong class="text-success">{{data.valorCompra  | currency}}</strong> </span></p>
            <p *ngIf="data.regulado" >VALOR DE REGULACIÓN : <span><strong class="text-warning">{{data.valorRegulacion  | currency}}</strong> </span></p>
            
        </div>

    </div>

   

    <div class="card-body">
     
        <li class="fw-bold"> 
            <i class="fas fa-map-pin text-primary"></i> 
            Tipo de producto: 
            <span class="fw-normal">{{data.tipoProducto.nombre}}</span></li>
        <li class="fw-bold" *ngIf="data.invima"> 
            <i class="fas fa-map-pin text-primary"></i> 
            Codigo invima: 
            <span class="fw-normal">{{data.invima}}</span></li>
        <li class="fw-bold" *ngIf="data.cum">
             <i  class="fas fa-map-pin text-primary"></i> 
             Codigo cum: <span class="fw-normal">{{data.cum}}</span></li>
        <li class="fw-bold"> <i class="fas fa-map-pin text-primary"></i> 
            Unidades: <span class="fw-bold"  [ngClass]="{'text-danger': data.stock_inicial <= 0, 'text-success' : data.stock_inicial > 0 }">{{data.stock_inicial}}</span></li>
        <li class="fw-bold"> <i class="fas fa-map-pin text-primary"></i> 
            Regulado ?: <span class="fw-normal">{{data.regulado | Boolean}}</span></li>
        <li class="fw-bold" *ngIf="data.impuesto"> <i class="fas fa-map-pin text-primary"></i> 
            Impuesto: <span class="fw-normal">{{data.impuesto.nombre}}</span>
        </li>
        
    </div>


    <div class="card-footer">
      
    </div>

</div>