<div class="main-content">

  <div class="page-content">
      <div class="row">

        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">ORDENES DE COMPRA</h4>

              <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a href="javascript: void(0);">Inventario</a></li>
                      <li class="breadcrumb-item active">Ordenes de compras</li>
                  </ol>
              </div>

          </div>
      </div>


        <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                        <div class="row align-items-end">
                        <div class="col-sm">
                            <div style="float: right;" class="botones-header">
                                <button type="button" class="btn btn-outline-primary mb-4" (click)="newPucharseOrder()">
                                    <i class="fas fa-cart-plus"></i>&nbsp; Generar orden
                                </button>
                                <button type="button" (click)="exportarExcel()" class="btn btn-outline-primary mb-4">
                                    <i class="squire ico-excel"></i>&nbsp; Exportar excel
                                </button>
                                
                                <button type="button" (click)="busquedaAvanzada = !busquedaAvanzada" class="btn btn-outline-primary mb-4">
                                    <i class="fas fa-search-plus"></i>&nbsp; Busqueda avanzada
                                </button>
                                
                                
                            </div>
                        </div>
                        <div class="col-sm-auto ">

                        </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row" *ngIf="busquedaAvanzada">
                        <fieldset class="rounded-3 p-3">
                            <legend class="float-none w-auto">FILTROS DE BÚSQUEDA</legend>
                            <div class="row">
                                <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                                    <mat-form-field appearance="outline"  style="width:100%; height: auto;">
                                        <mat-label style="font-size: 16px;">N° ORDEN</mat-label>
                                        <input [(ngModel)]="filtroAvanzado.orden" matInput type="text">
                                        
                                    </mat-form-field>
                                    
                                </div>
                                <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                            <mat-label style="font-size: 16px;">Forma de pago</mat-label>
                                            <mat-select   style="text-align: center;" [(ngModel)]="this.filtroAvanzado.formaDePago">
                                                <mat-option *ngFor="let item of formasPago" [value]="item.id">{{item.nombre}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-3 col-md-3 col-lg-5">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width:100%; height: auto; ">
                                            <mat-label style="font-size: 18px;">Proveedores</mat-label>
                                            <mat-select  placeholder="Seleccionar proveedor" [(ngModel)]="filtroAvanzado.proveedor" >
                                                <mat-option>
                                                    <ngx-mat-select-search ngModel (ngModelChange)="filtraTerceros($event)" #filtroTercero 
                                                        placeholderLabel="Buscar proveedor" noEntriesFoundLabel="No hay resultados">
                                                        <mat-icon style="color: red;" ngxMatSelectSearchClear>delete_forever</mat-icon>
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let proveedor of filtroProveedores | async" [value]="proveedor.id">
                                                    {{proveedor.nombreComercial}}
                                                </mat-option>
            
                                                
                                            </mat-select>
                                     
                                        </mat-form-field>
                                       
        
                                    </div>
                                </div>

                                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <mat-form-field style="width: 100%;" class="example-form-field" appearance="fill">
                                          <!-- <mat-label>Fechas</mat-label> -->
                                          <mat-date-range-input
                                           
                                            [rangePicker]="estadoFinancieroPicker">
                                            <input matStartDate placeholder="FECHA INICIAL" [(ngModel)]="filtroAvanzado.fechaInicial">
                                            <input matEndDate placeholder="FECHA FINAL"     [(ngModel)]="filtroAvanzado.fechaFinal">
                                          </mat-date-range-input>
                                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                          <a matSuffix mat-icon-button aria-label="Clear"  (click)="estadoFinancieroPicker.open()">
                                            <mat-icon color="primary">calendar_month</mat-icon>
                                            <!-- <i class="fas fa-calendar"></i> -->
                                          </a>
                                          <mat-date-range-picker #estadoFinancieroPicker></mat-date-range-picker>
                                        </mat-form-field>
                        
                                    </div>
                                </div>


                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-2 float-end">
                                <button (click)="limpiarFiltro()" type="button" class="btn btn-danger float-right"><i class="uil uil-trash-alt"></i></button>
                                <button (click)="BusquedaAvanzada()" type="button" class="btn btn-success float-right"><i class="uil uil-search me-2"></i> BUSCAR</button>
                            </div>
        
                        </fieldset>
                    </div> 




                    <div class="row">
                    <div class="col-md-12" >
                            <table id="TableOrdenes" style="width:100%" class="table table-striped table-bordered table-responsive" >
                                <thead>
                                    <tr>
                                        <th style="width: 3%;text-align: center; justify-content: center; justify-items: center;">
                                        
                                        </th>
                                    
                                        <th style="white-space: nowrap">Orden N°</th>
                                        <th style="width: 80%;">PROVEEDOR</th>
                                        <th style="white-space: nowrap">FORMA DE PAGO</th>
                                        <th style="white-space: nowrap">Fecha Creación</th>
                                        <th style="white-space: nowrap">SUBTOTAL</th>
                                        <th style="white-space: nowrap">IVA</th>
                                        <th style="white-space: nowrap">DESCUENTO</th>
                                        <th style="white-space: nowrap">RETENCIÓN</th>
                                        <th style="white-space: nowrap">TOTAL</th>
                                        <th style="white-space: nowrap">USUARIO</th>
                                        <th style="width: 8%;">
                                            <a type="button" class="btn position-relative" style="padding: 0; color: #fff; font-size: 16px; font-weight: bold" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-search"></i>
                                            </a>
                                            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 dropdown-menu">
                                                <div class="input-group">
                                                    <input type="search" placeholder="Buscar en ordenes" aria-describedby="button-addon1" class="form-control border-0 bg-light" [(ngModel)]="txtbuscarOrden" (ngModelChange)="table.search($event).draw();">
                                                    <div class="input-group-append">
                                                        <a id="button-addon1" type="button" class="btn btn-link text-primary"><i class="fa fa-search color-primary"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                        </table>
                    </div>
                        
                    </div>




                      <!-- end row -->
                  </div>
                  <!-- end card body -->
              </div>
              <!-- end card -->
          </div>
          <!-- end col -->
        </div>

      </div>

      <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                  <script>
                      document.write(new Date().getFullYear())
                  </script> &copy; SarpSoft.
              </div>
              <div class="col-sm-6">
                  <div class="text-sm-end d-none d-sm-block">
                      Crafted by <a href="https://Pichforest.com/" target="_blank" class="text-reset"> Dto: Sistemas</a>
                  </div>
              </div>
          </div>
      </div>
  </footer>

</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modalMarca">Enviar orden al proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarModalCorreo()" aria-label="Close"></button>
    </div>
    
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <mat-form-field appearance="outline" style="width:100%; height: auto;">
                        <mat-label style="font-size: 16px;">Asunto</mat-label>
                        <input   [(ngModel)]="asunto" matInput type="text" id="asunto" />
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                  
                <div class="form-group">
                    <mat-form-field appearance="outline" style="width:100%; height: auto;">
                       
                            <mat-label style="font-size: 16px;">Destinatario(opcional)</mat-label>
                            <input  [disabled]="!correoDistinto" [(ngModel)]="destinatario" matInput type="text" id="destinatario" />
                       
                        
                        <mat-hint><p><mat-checkbox [(ngModel)]="correoDistinto">Correo distinto?</mat-checkbox></p></mat-hint>
                    </mat-form-field>
                </div>  
                </div>
                
            </div>

            <div class="col-md-12" style="margin-top: 20px;">
                <div class="form-group">
                    <mat-form-field appearance="outline" style="width:100%; height: auto;">
                        <mat-label style="font-size: 16px;">Mensaje (opcional)</mat-label>
                        <textarea  [(ngModel)]="mensaje" matInput placeholder="Opcional"></textarea>
                    </mat-form-field>
                </div>
            </div>
           
           
           
          
        </div>
      

    </div>
    <div class="modal-footer">
        
        <button type="button" (click)="enviarCorreo()" class="btn btn-outline-primary">Enviar <i class="squire ico-telegram"></i> </button>
    </div>
</ng-template>
