<div class="main-content">

    <div class="page-content">

        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Registrar empleado. <span #tooltip="matTooltip" matTooltip="La información del empleado será utilizada para ayudarte a generar la nómina más rápida que has visto, recuerda que siempre podrás regresar a editar cualquier valor."
                                    matTooltipPosition="right" matTooltipHideDelay="100000" matTooltipClass="custom-tooltip" style="color:#21d4fd; cursor:pointer;"><i class="mdi mdi-information-outline"></i></span> </font>
                        </font>
                    </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="javascript: void(0);">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Empresa</font>
                                    </font>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Registrar empresa</font>
                                </font>
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <section class="step-wizard">
                                <ul class="step-wizard-list ">
                                    <li class="step-wizard-item ">
                                        <span class="progress-count">1</span>
                                        <h6 class="progress-label">Datos básicos</h6>
                                    </li>
                                    <li class="step-wizard-item">
                                        <span class="progress-count">2</span>
                                        <h6 class="progress-label">Datos de pago</h6>
                                    </li>
                                    <li class="step-wizard-item">
                                        <span class="progress-count">3</span>
                                        <h6 class="progress-label">Datos personales</h6>
                                    </li>
                                </ul>
                            </section>
                            <br>
                            <br>
                            <!-- wizard-nav -->
                            <form #formDirective="" [formGroup]="formEmpleados" id="formEmpresa">


                                <div class="wizard-tab" style="display: block;">
                                    <div class="text-left mb-4">
                                        <h4>Datos básicos</h4>
                                        <!-- <p class="card-title-desc">Registrar datos basicos del empleado.</p> -->
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label style="font-size: 16px;">Nombres</mat-label>
                                                    <input required formControlName="nombres" matInput type="text" id="documento" />
                                                    <!-- <mat-error *ngIf="form.invalid ">{{ObtenerErrorCampoName()}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label style="font-size: 16px;">Apellidos</mat-label>
                                                    <input required formControlName="apellidos" matInput type="text" id="documento" />
                                                    <!-- <mat-error *ngIf="form.invalid ">{{ObtenerErrorCampoName()}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label style="font-size: 16px;">Telefono</mat-label>
                                                    <input required formControlName="telefono" matInput type="number" id="documento" />
                                                    <!-- <mat-error *ngIf="form.invalid ">{{ObtenerErrorCampoName()}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label style="font-size: 16px;">Correo electrónico</mat-label>
                                                    <input required formControlName="correo" matInput type="email" id="documento" />
                                                    <!-- <mat-error *ngIf="form.invalid ">{{ObtenerErrorCampoName()}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Tipo documento</mat-label>
                                                    <mat-select required formControlName="tipo_documento" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  tiposDocumentos">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label style="font-size: 16px;">Documento</mat-label>
                                                    <input required formControlName="documento" matInput type="text" id="documento" />
                                                    <!-- <mat-error *ngIf="form.invalid ">{{ObtenerErrorCampoName()}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="text-left mb-4">
                                        <h4>Información laboral</h4>
                                        <!-- <p class="card-title-desc">Registrar datos basicos del empleado.</p> -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Tipo de contrato </mat-label>
                                                    <mat-select required formControlName="tipo_contrato" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  tiposContrato">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="A partir del tipo de contrato, la liquidación de la nómina podría variar. Si es un usuario bajo “prestación de servicios” no tendremos en cuenta ningún tipo de prestaciones en su liquidación de nómina y el usuario quedará clasificado en la aplicación como contratista"
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="text-align:center;">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Término del contrato </mat-label>
                                                    <mat-select (ngModelChange)="onChangeTermino($event)" required formControlName="termino_contrato" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  terminosContrato">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label>Fecha de contratación</mat-label>
                                                    <input matInput [matDatepicker]="fechaContratacion" formControlName="fecha_contratacion">
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="¿Desde que día comenzó este usuario a trabajar en tu compañía? Esta información es importante para tu control como empleador y además es requerida por los operadores de pago PILA."
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                                    <mat-datepicker-toggle matSuffix [for]="fechaContratacion"></mat-datepicker-toggle>
                                                    <mat-datepicker #fechaContratacion></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="termino">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label>Fecha de finalización</mat-label>
                                                    <input matInput [matDatepicker]="fechaFinalizacion" formControlName="fecha_terminacion">

                                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                                    <mat-datepicker-toggle matSuffix [for]="fechaFinalizacion"></mat-datepicker-toggle>
                                                    <mat-datepicker #fechaFinalizacion></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Salario base</mat-label>
                                                    <mat-select required formControlName="salario_base" style="text-align: center;">
                                                        <mat-option value="Mensual">Mensual</mat-option>
                                                        <mat-option value="Por hora">Por hora</mat-option>
                                                    </mat-select>
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="A partir del “salario base” se liquidara la nomina. Esta será la base tenida en cuenta para la liquidación de la seguridad social y parafiscales."
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width: 100%;" color="primary">
                                                    <mat-label style="font-size: 16px;">Valor salario</mat-label>
                                                    <input required formControlName="valor_salario" matInput type="number" id="documento" />
                                                    <!-- <mat-error *ngIf="form.invalid ">{{ObtenerErrorCampoName()}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Clase de riesgo ARL</mat-label>
                                                    <mat-select required formControlName="riesgo" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  riegos">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="A partir de la “clase de riesgo ARL” de la persona, se modificara el % de pago en la liquidación de la planilla." matTooltipPosition="below" matTooltipHideDelay="100000"
                                                        color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Dias de vaciones</mat-label>
                                                    <input required formControlName="dias_vaciones" matInput type="number" id="documento" />
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="Este valor indica los días de vacaciones pendientes a la fecha de corte del periodo anterior, restándole las vacaciones disfrutadas en el período actual. Si deseas ver cómo se realiza este cálculo, haz click aquí."
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-checkbox style="margin-left: 10px; margin-top: 10px" formControlName="subsidio_trasnporte" color="primary">¿Subsidio de transporte?</mat-checkbox>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="text-left mb-4">
                                        <h4>Datos del puesto de trabajo.</h4>
                                        <!-- <p class="card-title-desc">Registrar datos basicos del empleado.</p> -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Cargo </mat-label>
                                                    <mat-select required formControlName="cargo" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  tiposContrato">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="Las opciones de “Cargos” fueron las creadas cuando registraste la empresa. Si deseas agregar otras opciones, debes ir a “Empresa” y editar la sección “Cargos”."
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Área </mat-label>
                                                    <mat-select required formControlName="area" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  tiposContrato">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="Las opciones de “Áreas” fueron las creadas cuando registraste la empresa. Si deseas agregar otras opciones, debes ir a “Empresa” y editar la sección “Áreas”."
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Centro de costos </mat-label>
                                                    <mat-select required formControlName="centro_costo" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  tiposContrato">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="El centro de costos permitirá asociar a cada persona a una cuenta contable lo cual facilitará el ingreso de la información al software contable."
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="wizard-tab">
                                    <div class="text-left mb-4">
                                        <h5>Datos de pago</h5>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Método de pago</mat-label>
                                                    <mat-select (ngModelChange)="onChangeMetodoPago($event)" required formControlName="salario_base" style="text-align: center;">
                                                        <mat-option value="Efectivo">Efectivo</mat-option>
                                                        <mat-option value="Trasnferencia bancaria">Trasnferencia bancaria</mat-option>
                                                    </mat-select>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="efectivo">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Consecutivo cuenta cobro</mat-label>
                                                    <input required formControlName="cuenta_cobro" matInput type="number" id="documento" />
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Cuenta contable</mat-label>
                                                    <input required formControlName="cuenta_contable" matInput type="number" id="documento" />
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Contrapartida</mat-label>
                                                    <input required formControlName="cuenta_contrapartida" matInput type="number" id="documento" />
                                                </mat-form-field>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="!efectivo">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                                    <mat-label style="font-size: 16px;">Banco </mat-label>
                                                    <mat-select required formControlName="banco" style="text-align: center;">
                                                        <ng-container *ngFor="let data of  bancos">
                                                            <mat-option [value]="data.nombre">{{ data.nombre }}</mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <mat-icon matPrefix class="icon-field" matTooltipClass="custom-tooltip" #tooltip="matTooltip" matTooltip="El centro de costos permitirá asociar a cada persona a una cuenta contable lo cual facilitará el ingreso de la información al software contable."
                                                        matTooltipPosition="below" matTooltipHideDelay="100000" color="primary"><i class="bx bx-info-circle"></i></mat-icon>
                                                    <!-- <mat-error *ngIf="formCorte.invalid">{{ObtenerErrorCampo('users','El usuario ')}}</mat-error> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="wizard-tab">
                                    <div class="text-center mb-4">
                                        <h5>Datos de pago</h5>
                                        <p class="card-title-desc">Registrar datos de pago.</p>
                                    </div>

                                </div>

                                <!-- wizard-tab -->

                                <hr>
                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" mat-raised-button id="prevBtn" (click)="this.nextPrev(-1)" color="accent" style="display: none">Volver al paso anterior</button>

                                    <div id="btn_guardar" class="w-sm ms-auto">
                                        <button class="btn btn-primary" mat-raised-button defaultColor="#fff" [type]="typeButtonGuardar" color="primary" id="nextBtn" (click)="this.nextPrev(1)">
                     
                                            {{textButtonGuardar}}
                                          
                                          </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>

        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> &copy; Sumiprod de la costa.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Pichforest.com/" target="_blank" class="text-reset"> dpto. sistemas</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>