<div class="main-content">

  <div class="page-content">
      <div class="row">

        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">LISTADO DE PROFORMAS</h4>

              <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a href="javascript: void(0);">Facturación</a></li>
                      <li class="breadcrumb-item active">Proformas</li>
                  </ol>
              </div>

          </div>
      </div>


        <div class="row">
          <div class="col-xl-12">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-4">PROFROMAS</h4>

                        <div>
                            <button type="button" class="btn btn-outline-warning mb-4" (click)="ActualizarProformas()" >
                                <i class="fas fa-spinner rotate"></i>&nbsp; Actualizar
                            </button>
                            &nbsp;
                            <button type="button" (click)="busquedaAvanzada = !busquedaAvanzada" class="btn btn-outline-primary mb-4">
                                <i class="fas fa-search-plus"></i>&nbsp; Busqueda avanzada
                            </button>

                           
                        </div>
                    </div>
                    <div class="row" *ngIf="busquedaAvanzada">
                        <fieldset class="rounded-3 p-3">
                            <legend class="float-none w-auto">FILTROS DE BÚSQUEDA</legend>
                            <div class="row">
                                <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                                    <mat-form-field appearance="outline"  style="width:100%; height: auto;">
                                        <mat-label style="font-size: 16px;">PREFIJO</mat-label>
                                        <input [(ngModel)]="filtroAvanzado.prefijo" matInput type="text">
                                        
                                    </mat-form-field>
                                    
                                </div>
                                <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                                    <mat-form-field appearance="outline"  style="width:100%; height: auto;">
                                        <mat-label style="font-size: 16px;">N° FACTURA</mat-label>
                                        <input [(ngModel)]="filtroAvanzado.numero" matInput type="text">
                                        
                                    </mat-form-field>
                                    
                                </div>
                                
                                
                                <div class="col-12 col-sm-3 col-md-3 col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width:100%; height: auto; ">
                                            <mat-label style="font-size: 18px;">Cliente</mat-label>
                                            <mat-select  placeholder="Seleccionar cliente" [(ngModel)]="filtroAvanzado.cliente" >
                                                <mat-option>
                                                    <ngx-mat-select-search ngModel (ngModelChange)="filtraTerceros($event)" #filtroTercero 
                                                        placeholderLabel="Buscar cliente" noEntriesFoundLabel="No hay resultados">
                                                        <mat-icon style="color: red;" ngxMatSelectSearchClear>delete_forever</mat-icon>
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let cliente of filtroClientes | async" [value]="cliente.id">
                                                    {{cliente.nombreComercial}}
                                                </mat-option>
            
                                                
                                            </mat-select>
                                     
                                        </mat-form-field>
                                       
        
                                    </div>
                                </div>
                                <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                            <mat-label style="font-size: 16px;">Vendedor</mat-label>
                                            <mat-select   style="text-align: center;" [(ngModel)]="this.filtroAvanzado.vendedor">
                                                <mat-option *ngFor="let item of vendedores" [value]="item.id">{{item.nombre}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <mat-form-field style="width: 100%;" class="example-form-field" appearance="fill">
                                          <mat-label>Fechas</mat-label>
                                          <mat-date-range-input
                                           
                                            [rangePicker]="estadoFinancieroPicker">
                                            <input matStartDate placeholder="FECHA INICIAL" [(ngModel)]="filtroAvanzado.fechaInicial">
                                            <input matEndDate placeholder="FECHA FINAL"     [(ngModel)]="filtroAvanzado.fechaFinal">
                                          </mat-date-range-input>
                                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                          <a matSuffix mat-icon-button aria-label="Clear"  (click)="estadoFinancieroPicker.open()">
                                            <mat-icon color="primary">calendar_month</mat-icon>
                                            <!-- <i class="fas fa-calendar"></i> -->
                                          </a>
                                          <mat-date-range-picker #estadoFinancieroPicker></mat-date-range-picker>
                                        </mat-form-field>
                        
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3 col-md-3 col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width:100%; height: auto;">
                                            <mat-label style="font-size: 16px;">Observación</mat-label>
                                            <textarea  [(ngModel)]="filtroAvanzado.observacion" matInput placeholder="Ejem: profoma N° 0250"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>


                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-2 float-end">
                                <button (click)="limpiarFiltro()" type="button" class="btn btn-danger float-right"><i class="uil uil-trash-alt"></i></button>
                                <button (click)="BusquedaAvanzada()" type="button" class="btn btn-success float-right"><i class="uil uil-search me-2"></i> BUSCAR</button>
                            </div>
        
                        </fieldset>
                    </div> 
                    <div class="table-scroll">
                        <table  style="border-collapse: collapse;" class="table   table-centered mb-0">
                            <thead>
                                <tr>
                                   
                                    <th class="text-center" style="white-space: nowrap">N°</th>
                                    <th class="text-left" style="width: auto;">CLIENTE</th>

                                    <th  style="width: auto;" class="text-center" style="white-space: nowrap">DESPACHO</th>
                                    <th class="text-center" style="white-space: nowrap">CREACIÓN</th>

                                    <th class="text-right" style="white-space: nowrap">SUBTOTAL</th>
                                    <th class="text-right" style="white-space: nowrap">DESCUENTO</th>
                                    <th class="text-right" style="white-space: nowrap">IVA</th>
                                    <th class="text-right" style="white-space: nowrap">RETENCIÓN</th>
                                    <th class="text-right" style="white-space: nowrap">TOTAL</th>
                                    <th class="text-right" style="white-space: nowrap"></th>
                                </tr>
                                <!-- end tr -->
                            </thead>
                            <!-- end thead -->
                            <tbody >
                                
                                <ng-container *ngIf="isLoading else notLoading">
                                    
                                    <tr  *ngFor="let index of getRange(3)">
                                        <td style="width: 3rem">
                                              <app-skeleton 
                                              width="40px" 
                                              height="40px" 
                                              alignment="center"
                                              borde="1px solid #41b6ff"
                                              padding="3px"
                                              borderRadius="50px" 
                                              estilo="avatar" 
                                              animation="linear"></app-skeleton>
                                            
                                        </td>
                                        <td style="width: 12.5rem">
                                            <app-skeleton 
                                                width="11rem" 
                                                alignment="left"
                                                height="10px"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                            <app-skeleton 
                                                width="8rem" 
                                                height="10px"
                                                alignment="left"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                            <app-skeleton 
                                                width="4rem" 
                                                height="10px"
                                                alignment="left"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                        </td>
                                        
                                        
                                        <td style="width: 5rem">
    
                                                <app-skeleton 
                                                width="5rem" 
                                                height="10px"
                                                marginBottom="5px" 
                                                alignment="center"
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                                <app-skeleton 
                                                width="3rem" 
                                                height="10px"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                alignment="right"
                                                animation="linear"></app-skeleton>
                                                <app-skeleton 
                                                width="5rem" 
                                                height="10px"
                                                alignment="center"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                           
                                        </td>
                                        
                                        <td >
                                                <app-skeleton 
                                                width="5rem" 
                                                height="10px"
                                                marginBottom="5px" 
                                                alignment="center"
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                                <app-skeleton 
                                                width="5rem" 
                                                height="10px"
                                                marginBottom="5px" 
                                                alignment="center"
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                                <app-skeleton 
                                                width="5rem" 
                                                height="10px"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                alignment="center"
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
    
                                          
                                        </td>
                                        <td style="width:5rem">
                                            <app-skeleton 
                                                width="2rem" 
                                                alignment="right"
                                                height="10px"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                            <app-skeleton 
                                                width="3rem" 
                                                height="10px"
                                                alignment="right"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                            <app-skeleton 
                                                width="5rem" 
                                                height="10px"
                                                alignment="right"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                        </td>
                                        
                                        <td  style="width:5rem">
                                            <app-skeleton 
                                            width="5rem" 
                                            alignment="center"
                                            height="10px"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        <app-skeleton 
                                            width="3rem" 
                                            height="10px"
                                            alignment="left"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        <app-skeleton 
                                            width="5rem" 
                                            height="10px"
                                            alignment="center"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        </td>
                                        <td  style="width:5rem">
                                            <app-skeleton 
                                            width="5rem" 
                                            alignment="center"
                                            height="10px"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        <app-skeleton 
                                            width="3rem" 
                                            height="10px"
                                            alignment="center"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        <app-skeleton 
                                            width="5rem" 
                                            height="10px"
                                            alignment="center"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        </td>
                                        <td  style="width:5rem">
                                            <app-skeleton 
                                            width="5rem" 
                                            alignment="center"
                                            height="10px"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        <app-skeleton 
                                            width="5rem" 
                                            height="10px"
                                            alignment="center"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        <app-skeleton 
                                            width="5rem" 
                                            height="10px"
                                            alignment="center"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                        </td>
                                        <td  style="width:5rem">
                                            <app-skeleton 
                                            width="2rem" 
                                            alignment="right"
                                            height="10px"
                                            marginBottom="5px" 
                                            borderRadius="16px" 
                                            estilo="text" 
                                            animation="linear"></app-skeleton>
                                            <app-skeleton 
                                                width="3rem" 
                                                height="10px"
                                                alignment="right"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                            <app-skeleton 
                                                width="5rem" 
                                                height="10px"
                                                alignment="right"
                                                marginBottom="5px" 
                                                borderRadius="16px" 
                                                estilo="text" 
                                                animation="linear"></app-skeleton>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #notLoading>
                                    <!-- Contenido que se muestra cuando isLoading es falso -->
                                    <tr style="cursor:pointer" *ngFor="let item of listado; let i = index" >
                                        <!-- <td  class="text-center ">
                                            <div  *ngIf="!item.proformada" class="ml-2 form-check text-center d-flex align-items-center">
                                                <input (change)="seleccionar(i)" class=" form-check-input font-size-20" type="checkbox" [checked]="item.seleccionada" id="flexCheckexampleone">
                                            </div>
                                        </td> -->
                                        <td class="fw-medium text-nowrap" [ngClass]="{'red-bold': !item.proformada, 'green-bold': item.proformada}">
                                            {{ item.numero }}
                                        </td>
                                        <td>
                                            {{item.cliente.nombreComercial}}
                                        </td>
    
                                  
                                        <td style="white-space: nowrap" class="text-center">
                                            <span  class="text-center"  [ngClass]="{'text-success': item.despachado, 'text-danger': !item.despachado}" style="font-size: 22px;">
                                                <i class="fas fa-truck-moving pulse" *ngIf="item.despachado"></i>
                                                <i class="fas fa-ban pulse" *ngIf="!item.despachado"></i>
                                              </span>
                                        </td>
                                        <td style="white-space: nowrap">
                                            {{item.fecha | date}}
                                        </td>
    
                                        <td class="text-right" style="white-space: nowrap">
                                           {{item.subtotal | currency }}
                                        </td>
                                        <td class="text-right" style="white-space: nowrap">
                                           {{item.descuento | currency }}
                                        </td>
                                        <td class="text-right" style="white-space: nowrap">
                                           {{item.valorIva | currency }}
                                        </td>
                                        <td class="text-right" style="white-space: nowrap">
                                           {{item.valorReteFuente | currency }}
                                        </td>
                                        <td class="text-right" style="white-space: nowrap">
                                           {{item.valor | currency }}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-horizontal font-size-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li *ngIf="!item.despachado"><a (click)="editar(item.id)" href="javascript:;" class="dropdown-item"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i>
                                                            Editar</a></li>
                                                    <li><a (click)="imprimir(item.id)" href="javascript:;" class="dropdown-item"><i class="squire ico-pdf font-size-16 text-danger me-1"></i>
                                                            Imprimir</a></li>
                                                    <li><a (click)="Despachar(item.numero)" href="javascript:;" class="dropdown-item"><i [ngClass]="{'text-warning':!item.despachado,'text-success':item.despachado}" class="mdi mdi-check-circle font-size-16  me-1"></i>
                                                            Despachar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                  
                                </ng-template>




                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                    </div>
                   
                </div>
            </div>
        </div>
          <!-- end col -->
        </div>

      </div>

      <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                  <script>
                      document.write(new Date().getFullYear())
                  </script> &copy; SarpSoft.
              </div>
              <div class="col-sm-6">
                  <div class="text-sm-end d-none d-sm-block">
                      Crafted by <a href="https://Pichforest.com/" target="_blank" class="text-reset"> Dto: Sistemas</a>
                  </div>
              </div>
          </div>
      </div>
  </footer>

</div>

