<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Configuración Nomina</h4>

                    <div class="page-title-right">
                      <ol class="breadcrumb m-0">
                          <li class="breadcrumb-item"><a href="javascript: void(0);">Nomina</a></li>
                          
                          <li class="breadcrumb-item active">Configuración</li>
                      </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">CONCEPTOS</h4>
                   
                </div><!-- end card header -->
                <div class="card-body">
                    <div class="accordion" id="accordionExample" *ngFor="let item of tiposDeConcepto">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                              <a class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" [href]="'#'+item.nombre | trim" aria-expanded="true" aria-controls="collapseOne">
                                  {{item.nombre}}
                              </a>
                          </h2>
                          <div [id]="item.nombre | trim" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                              <div class="accordion-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                      <div class="card">
                                          
                                          <div class="card-body">
                                              <div class="table-responsive">
                                                  <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                        
                                                            <th>Concepto</th>
                                                            <th class="text-center">Cuenta Contable</th>
                                                            <th class="text-center">Contrapartida</th>
                                                            <th class="text-center">Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                          <tr *ngFor="let x of item.conceptos; let i = index">
                                                           
                                                              <td>{{x.nombre}}</td>
                                                              <td class="text-center" *ngIf="x.isEdit">
                                                                

                                                                  <mat-form-field appearance="outline" style="width:70%; height: auto;">
                                                                    <mat-label style="font-size: 18px;">Cuentas contables</mat-label>
                                                                    <mat-select  placeholder="Buscar cuenta" [(ngModel)]="x.cuenta.id">
                                                                        <mat-option>
                                                                            <ngx-mat-select-search [formControl]="filtroPucCuentaControl"  #FiltroDeCuentas
                                                                                placeholderLabel="Buscar Cuentas" noEntriesFoundLabel="No hay resultados">
                                                                                <mat-icon style="color: red;" ngxMatSelectSearchClear>delete_forever</mat-icon>
                                                                            </ngx-mat-select-search>
                                                                        </mat-option>
                                                                        <mat-option *ngFor="let data of filtroPucCuenta | async" [value]="data.id">
                                                                            {{data.codigo}} - {{data.nombre}}
                                                                        </mat-option>
                                        
                                                                    
                                                                    </mat-select>
                                                                    
                                                                  </mat-form-field>
                                                              
                                                              </td>
                                                              <td class="text-center" *ngIf="!x.isEdit">
                                                                
                                                                {{x.cuenta?.nombre}}
                                                              
                                                              </td>
                                                              <td class="text-center" *ngIf="x.isEdit">
                                                                

                                                                  <mat-form-field appearance="outline" style="width:70%; height: auto;">
                                                                    <mat-label style="font-size: 18px;">Contrapartida</mat-label>
                                                                    <mat-select  placeholder="Buscar cuenta" [(ngModel)]="x.contrapartida.id">
                                                                        <mat-option>
                                                                            <ngx-mat-select-search [formControl]="filtroPucCuentaControl"  #FiltroDeCuentas
                                                                                placeholderLabel="Buscar Cuentas" noEntriesFoundLabel="No hay resultados">
                                                                                <mat-icon style="color: red;" ngxMatSelectSearchClear>delete_forever</mat-icon>
                                                                            </ngx-mat-select-search>
                                                                        </mat-option>
                                                                        <mat-option *ngFor="let data of filtroPucCuenta | async" [value]="data.id" >
                                                                            {{data.codigo}} - {{data.nombre}}
                                                                        </mat-option>
                                        
                                                                    
                                                                    </mat-select>
                                                                    
                                                                  </mat-form-field>
                                                              
                                                              </td>
                                                              <td class="text-center" *ngIf="!x.isEdit">
                                                                
                                                                {{x.contrapartida?.nombre}}
                                                              
                                                              </td>
                                                              <td class="text-center" *ngIf="!x.isEdit">
                                                               
                                                                  <button *ngIf="!this.edicionEnProceso" type="button" class="btn btn-primary" (click)="onEdit(item,x)"><i class="fas fa-pen"></i></button>
                                                                  
                                                            
                                                               

                                                              </td>
                                                              <td class="text-center" *ngIf="x.isEdit">
                                                               
                                                                 
                                                                  <button (click)="onSave(x)" type="button" class="btn btn-success"><i class="fas fa-check"></i></button>
                                                                    &nbsp;
                                                                  <button (click)="onCancel(x)" type="button" class="btn btn-danger"><i class="fas fa-ban"></i></button> 
                                                                  
                                                            
                                                               

                                                              </td>
                                                             
                                                          </tr>
                                                         
                                                      </tbody><!-- end tbody --> 
                                                  </table><!-- end table --> 
                                              </div><!-- end responsive --> 
                                          </div><!-- end card body --> 
                                      </div><!-- end card --> 
                                  </div><!-- end col --> 
                              </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
        </div>
      </div>

      <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                  <script>
                      document.write(new Date().getFullYear())
                  </script> &copy; SarpSoft.
              </div>
              <div class="col-sm-6">
                  <div class="text-sm-end d-none d-sm-block">
                      Crafted by <a href="https://Pichforest.com/" target="_blank" class="text-reset"> Dpto.sistemas</a>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>