<div class="row">
  <div class="col-md-12" >
          <table id="TableNotas" style="width:100%" class="table table-striped table-bordered table-responsive" >
              <thead>
                  <tr>
                      <th style="width: 3%;text-align: center; justify-content: center; justify-items: center;">
                   
                      </th>
                  
                      <th style="white-space: nowrap">NOTA N°</th>
                      <th style="width: 80%;">CLIENTE</th>
                      <th style="white-space: nowrap">FACTURA N°</th>
                      <th style="white-space: nowrap">CLASIFICACIÓN</th>
                      <th style="white-space: nowrap">TIPO DE NOTA</th>
                      <th style="white-space: nowrap">Fecha Creación</th>
                      <th style="white-space: nowrap">SUBTOTAL</th>
                      <th style="white-space: nowrap">IVA</th>
                      <th style="white-space: nowrap">RETENCIÓN</th>
                      <th style="white-space: nowrap">TOTAL</th>
                      <th style="white-space: nowrap">USUARIO</th>
                      <th style="width: 8%;">
                          <a type="button" class="btn position-relative" style="padding: 0; color: #fff; font-size: 16px; font-weight: bold" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-search"></i>
                          </a>
                          <!-- <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 dropdown-menu">
                              <div class="input-group">
                                  <input type="search" placeholder="Buscar en ordenes" aria-describedby="button-addon1" class="form-control border-0 bg-light" [(ngModel)]="txtbuscarOrden" (ngModelChange)="table.search($event).draw();">
                                  <div class="input-group-append">
                                      <a id="button-addon1" type="button" class="btn btn-link text-primary"><i class="fa fa-search color-primary"></i></a>
                                  </div>
                              </div>
                          </div> -->
                      </th>
                  </tr>
              </thead>
              <tbody>

              </tbody>
      </table>
  </div>
   
</div>