
thead {
    background-color: var(--color-primario);
    color: #ffffff;
    font-weight: bold;
}

th {
    border: none;
}



fieldset {
    min-width: 0;
    padding: 7px;
    margin: 0;
    border: solid #000 2px;
    border-style: solid;
    margin-bottom: 15px;
}
/* fieldset {
    background-color: #F2F2F2;
    
} */

legend {
    display: block;
    padding: 5px;
    font-size: 14px;
    line-height: inherit;
    color: #6b6b6b;
    font-weight: 500;
    text-align: left;
}


::ng-deep .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.btn-round{
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 10%;
}






.dropdown-menu i{
    margin-right: 10px;
 
}

.botones-header button{
    margin-right: 10px;
}

::ng-deep .swal2-styled.swal2-confirm {
    background-color: #41B6FF;
}


.search-btn{
    background-color: #41B6FF;
   
    
}


.search-btn mat-icon{
    
    color: #fff;
    
}
.search-btn:hover {
    background-color: #fdfd;
   
}
.search-btn:hover mat-icon {
   
    color: #000;
    
}

