<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-flex align-items-center justify-content-between"
          >
            <h4 class="mb-0">MÓDULO DE COTIZACION</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">cotización</a>
                </li>
                <li class="breadcrumb-item">
                  <a
                    href="javascript: void(0);"
                    [routerLink]="['/purchaseOrder']"
                    >Listado</a
                  >
                </li>
                <li class="breadcrumb-item active">Crear nueva cotización</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="invoice-title">
                <!-- <div class="float-end">
                  <div class="dropdown">
                    <a
                      class="dropdown-toggle btn btn-warning btn-sm"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-haspopup="false"
                      aria-expanded="false"
                      ><span style="color: white"
                        >Procesos<i class="mdi mdi-chevron-down ms-1"></i
                      ></span>
                    </a>

                    <div
                      class="dropdown-menu"
                      style="
                        position: absolute;
                        inset: auto 0px 0px auto;
                        margin: 0px;
                        transform: translate(0px, -32px);
                      "
                      data-popper-placement="top-end"
                    >
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        (click)="facturarFacturaAprobada()"
                      >
                        <i class="fas fa-dollar-sign text-primary"></i> Precios
                        bajos</a
                      >
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        (click)="facturarProforma()"
                      >
                        <i class="fas fa-cash-register text-primary"></i>
                        Proformas</a
                      >
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        (click)="facturarProforma()"
                      >
                        <i
                          class="fas fa-circle-dollar-to-slot text-primary"
                        ></i>
                        Cotizaciones</a
                      >
                    </div>
                  </div>
                </div> -->

                <div class="mb-4">
                  <img
                    src="assets/images/logoEmpresa.png"
                    alt="logo"
                    height="120"
                  />
                </div>
                <!-- <div class="text-muted">
                                <p class="mb-1"> <i class="uil uil-building me-1"></i><strong>Sumiprod de la costa S.A.S. </strong> </p>
                                <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i>sumiprodelacosta@gmail.com</p>
                                <p><i class="uil uil-postcard me-1"></i> <strong>901648084</strong></p>
                            </div> -->
              </div>

              <div class="row">
                <p-divider
                  [text]="'DATOS DE LA COTIZACION'"
                  [align]="'left'"
                ></p-divider>
              </div>
              <!-- end row -->

              <form
                (submit)="guardarCotizacion()"
                [formGroup]="formCotizacion"
                #formDirective=""
                id="formCotizacion"
              >
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field
                        appearance="outline"
                        style="width: 100%; height: auto"
                      >
                        <mat-label style="font-size: 16px"
                          >Numeración</mat-label
                        >
                        <mat-select
                          formControlName="numeracion"
                          required
                          style="text-align: center"
                        >
                          <mat-option
                            [matTooltip]="data.nombre"
                            *ngFor="let data of numeraciones"
                            [value]="data.id"
                            (click)="changeNumeracion(data)"
                          >
                            {{ data.numero }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field
                      appearance="outline"
                      style="width: 100%; height: auto"
                    >
                      <mat-label style="font-size: 18px">Clientes</mat-label>
                      <mat-select
                        placeholder="Seleccionar cliente"
                        formControlName="cliente"
                      >
                        <mat-option>
                          <ngx-mat-select-search
                            [formControl]="filtroTerceroControl"
                            #filtroTercero
                            placeholderLabel="Buscar cliente"
                            noEntriesFoundLabel="No hay resultados"
                          >
                            <mat-icon style="color: red" ngxMatSelectSearchClear
                              >delete_forever</mat-icon
                            >
                          </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                          *ngFor="let cliente of filtroClientes | async"
                          [value]="cliente.id"
                          (click)="seleccionarTercero(cliente)"
                        >
                          {{ cliente.nombreComercial }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="form-group">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label style="font-size: 16px"
                            >Vendedor</mat-label
                          >
                          <mat-select
                            [disabled]="true"
                            required
                            style="text-align: center"
                            formControlName="vendedor"
                          >
                            <mat-option
                              *ngFor="let item of vendedores"
                              [value]="item.id"
                              >{{ item.nombre }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-4 row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field
                        appearance="outline"
                        style="width: 100%; height: auto"
                      >
                        <mat-label style="font-size: 16px"
                          >Observaciones</mat-label
                        >
                        <textarea
                          formControlName="observacion"
                          matInput
                          placeholder=""
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field
                        appearance="outline"
                        style="width: 100%; height: auto"
                      >
                        <mat-label style="font-size: 16px"
                          >Forma de pago</mat-label
                        >
                        <mat-select
                          required
                          style="text-align: center"
                          formControlName="formaPago"
                        >
                          <mat-option
                            *ngFor="let item of formasPago"
                            [value]="item.id"
                            >{{ item.nombre }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="float-right">
                      <a
                        *ngIf="formCotizacion.valid"
                        href="javascript:;"
                        (click)="openModalProductos(content)"
                        class="btn btn-soft-primary btn-md"
                        >Agregar producto
                        <i class="mdi mdi-plus-circle-outline ms-1"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="row"></div>

                <div class="row">
                  <p-divider [text]="'PRODUCTOS DE LA COTIZACION'"></p-divider>
                </div>

                <div class="py-2">
                  <div class="table-scroll">
                    <table
                      style="border-collapse: collapse"
                      class="table table-responsive align-middle table-normal table-centered mb-0 table-detalle"
                    >
                      <thead>
                        <tr>
                          <th width="auto" class="text-center">COD.</th>
                          <th width="25%" style="white-space: normal">
                            PRODUCTO
                          </th>
                          <!-- <th width="auto" class="text-center">LOTE</th>
                          <th width="auto" class="text-center">VENCE</th> -->
                          <th width="auto" class="text-end">CANT</th>
                          <th width="auto" class="text-end">VALOR UND</th>
                          <th width="auto" class="text-end">SUBTOTAL</th>
                          <th width="auto" class="text-end">DESC %</th>
                          <th width="auto" class="text-end">IVA</th>
                          <th width="auto" class="text-end">TOTAL</th>
                        </tr>
                      </thead>
                      <!-- end thead -->
                      <tbody>
                        <!-- ESTO VA DENTRO DEL TR - DEFINE EL COLOR SI HAY ALGUNA ADVERTENCIA -->
                        <!-- [ngClass]="{
                            desaprobado: item.estado == false,
                            aprobado: item.estado
                          }" -->
                        <tr
                          
                          *ngFor="
                            let item of listadoDetalleFactura;
                            let i = index
                          "
                          style="cursor: pointer"
                          [matMenuTriggerFor]="menu"
                        >
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="eliminarProducto(i)">
                              <mat-icon style="color: red">delete</mat-icon
                              >ELIMINAR FILA
                            </button>
                          </mat-menu>

                          <th class="text-center">
                            {{ item.producto.codigoDeBarra }}
                          </th>
                          <td>
                            {{
                              item.producto.nombreymarcaunico | acortarText : 50
                            }}
                          </td>
                          <!-- <td class="text-center">{{ item.lote }}</td>-->
                          <td class="text-center">{{ item.cantidad }}</td> 
                          <td class="text-end">{{ item.valor | currency }}</td>
                          <td class="text-end">
                            {{ item.subtotal | currency }}
                          </td>
                          <td class="text-end">
                            {{ item.descuento | currency }}
                          </td>
                          <td class="text-end">{{ item.iva | currency }}</td>
                          <td class="text-end">{{ item.total | currency }}</td>
                        </tr>

                        <!-- end tr -->
                      </tbody>
                      <!-- end tbody -->
                    </table>
                    <!-- end table -->
                  </div>
                  <!-- end table responsive -->

                  <div class="table-footer">
                    <table class="float-end table-balance">
                      <tr>
                        <th class="th-title text-end" scope="row" colspan="8">
                          Subtotal :
                        </th>
                        <td
                          class="text-end"
                          [appAnimatedPrice]="subtotalFactura"
                        >
                          {{ subtotalFactura | currency }}
                        </td>
                      </tr>
                      <!-- end tr -->
                      <tr>
                        <th scope="row" colspan="8" class="th-title text-end">
                          Descuento :
                        </th>
                        <td
                          class="text-end text-danger"
                          [appAnimatedPrice]="descuentoFactura"
                        >
                          - {{ descuentoFactura | currency }}
                        </td>
                      </tr>
                      <!-- end tr -->
                      <tr>
                        <th scope="row" colspan="8" class="th-title text-end">
                          IVA :
                        </th>
                        <td class="text-end" [appAnimatedPrice]="ivaFactura">
                          + {{ ivaFactura | currency }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="8" class="th-title text-end">
                          Retención :
                        </th>
                        <td
                          class="text-end text-danger"
                          [appAnimatedPrice]="retencionFactura"
                        >
                          - {{ retencionFactura | currency }}
                        </td>
                      </tr>
                      <tr *ngIf="domicilio">
                        <th scope="row" colspan="8" class="th-title text-end">
                          Domicilio:
                        </th>
                        <td class="text-end" style="color: green">
                          + {{ this.domicilioFactura | currency }}
                        </td>
                      </tr>
                      <!-- end tr -->

                      <!-- end tr -->
                      <tr
                        #tablaRef
                        style="font-size: 20px; text-transform: uppercase"
                      >
                        <th
                          scope="row"
                          colspan="8"
                          class="text-center border-0 t-total text-end"
                        >
                          <h4>Total</h4>
                        </th>
                        <td class="t-total border-0 text-end">
                          <h4
                            [appAnimatedPrice]="
                              this.totalFactura + this.domicilioFactura
                            "
                            class="fw-semibold"
                          >
                            {{
                              this.totalFactura + this.domicilioFactura
                                | currency
                            }}
                          </h4>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div style="clear: both"></div>
                  <hr />
                  <div class="d-print-none mt-4">
                    <div class="float-end">
                      <a
                        href="javascript:;"
                        class="btn btn-danger me-1"
                        (click)="cancelarGuardado()"
                        ><i class="fa fa-ban"></i
                      ></a>
                      <button
                        class="btn btn-primary w-md"
                        type="submit"
                        [disabled]="formCotizacion.invalid"
                      >
                        Guardar
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>

    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          &copy; SarpSoft.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            Crafted by
            <a
              href="https://Pichforest.com/"
              target="_blank"
              class="text-reset"
            >
              Dpto.sistemas</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modalMarca">Agregar producto a la venta</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="cerrarModalPRoducto()"
      aria-label="Close"
    ></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <mat-form-field
              appearance="outline"
              style="width: 100%; height: auto"
            >
              <mat-label style="font-size: 18px">Productos</mat-label>
              <mat-select
                placeholder="Buscar productos"
                [(ngModel)]="producto"
                (ngModelChange)="seleccionarProducto($event)"
              >
                <mat-option>
                  <ngx-mat-select-search
                    [formControl]="filtroProductoControl"
                    #filtroDeProducto
                    placeholderLabel="Buscar productos"
                    noEntriesFoundLabel="No hay resultados"
                  >
                    <mat-icon style="color: red" ngxMatSelectSearchClear
                      >delete_forever</mat-icon
                    >
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option
                  *ngFor="let data of filtroProductos | async"
                  [value]="data"
                >
                  {{ data.codigoDeBarra }} - {{ data.nombreymarcaunico }}
                  <span class="icon-info text-primary"
                    ><mat-icon [tooltipProducto]="data">info</mat-icon></span
                  >
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <div class="mb-2 me-2">
              <div class="form-group">
                <mat-form-field
                  appearance="outline"
                  style="width: 100%; height: auto"
                >
                  <mat-label style="font-size: 16px">Buscar por</mat-label>
                  <mat-select
                    [(ngModel)]="columnFiltroProducto"
                    style="text-align: center"
                  >
                    <mat-option value="codigoDeBarra">Codigo</mat-option>
                    <mat-option value="nombreymarcaunico">Nombre</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <mat-form-field
            appearance="outline"
            style="width: 100%; height: auto; text-align: right"
          >
            <mat-label style="font-size: 16px">Valor compra</mat-label>
            <input
              [onblur]="transform"
              [disabled]="true"
              [(ngModel)]="valorCompra"
              matInput
              type="number"
              id="cantidad"
            />
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <!-- <div class="form-group">
          <div class="form-group">
            <!-- LOTE -->
            <!-- <mat-form-field
              appearance="outline"
              style="width: 100%; height: auto; text-align: center"
            >
              <mat-label style="font-size: 16px">Lote</mat-label>
              <mat-select
                required
                [(ngModel)]="inventario"
                style="text-align: center"
                (ngModelChange)="seleccionarInventario($event)"
              >
                <ng-container *ngFor="let item of inventarioProducto">
                  <mat-option
                    *ngIf="obtenerExistencias(item) > 0"
                    [value]="item"
                    [disabled]="!item.estado"
                  >
                    {{ item.lote }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field> -->
         
      

      <!-- <div class="col-md-2">
        <!-- EXISTENCIAS -->
        <!-- <div class="form-group">
          <mat-form-field
            appearance="outline"
            style="width: 100%; height: auto; text-align: center"
          >
            <mat-label style="font-size: 16px">Existencia</mat-label>
            <input
              [disabled]="true"
              [(ngModel)]="existencia"
              matInput
              type="number"
              id="cantidad"
            />
          </mat-form-field>
        </div> -->
      
      <div class="col-md-2">
        <mat-form-field
          appearance="outline"
          style="width: 100%; height: auto; text-align: right"
        >
          <mat-label>Valor (UND)</mat-label>
          <input
            (keyup)="calcular()"
            (ngModelChange)="calcular()"
            [onblur]="transform"
            type="text"
            placeholder=""
            aria-label="valor"
            matInput
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="valor"
            [matAutocomplete]="precio"
          />
          <mat-autocomplete autoActiveFirstOption #precio="matAutocomplete">
            <mat-option
              (click)="calcular()"
              *ngFor="let data of listaPrecios; let i = index"
              [value]="data.valor"
              >{{ i + 1 }} - {{ data.valor | currency }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <mat-form-field
            appearance="outline"
            style="width: 100%; height: auto; text-align: center"
          >
            <mat-label style="font-size: 16px">Cantidad</mat-label>
            <input
              (click)="calcular()"
              [(ngModel)]="cantidad"
              matInput
              type="number"
              id="cantidad"
            />
          </mat-form-field>
        </div>
      </div>
      <!-- FECHA VENCIMIENTO -->
      <!-- <div class="col-md-2">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Fecha vencimiento</mat-label>
          <input
            [disabled]="true"
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="vence"
          />

          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div> -->

      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field
            appearance="outline"
            style="width: 100%; height: auto; text-align: right"
          >
            <mat-label style="font-size: 16px">Descuento</mat-label>
            <input
              (keyup)="calcular()"
              (change)="calcular()"
              [(ngModel)]="descuento"
              matInput
              type="number"
              id="descuento"
            />
            <mat-checkbox
              (change)="validarDescuento()"
              [(ngModel)]="descuentoPorcentaje"
              matPrefix
              >%</mat-checkbox
            >
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <mat-form-field
            appearance="outline"
            style="width: 100%; height: auto; text-align: right"
          >
            <mat-label style="font-size: 16px">IVA</mat-label>
            <input
              [disabled]="true"
              [(ngModel)]="iva"
              matInput
              type="number"
              id="iva"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      (click)="setDetalle()"
      [disabled]="false"
      class="btn btn-primary"
    >
      Agregar
    </button>
  </div>
</ng-template>

<div id="toast-icon-container"></div>
