<div class="main-content">
    <div class="page-content">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Cotización Ventas</h4>
        
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">facturación</a></li>
                        <li class="breadcrumb-item active">Cotización</li>
                    </ol>
                </div>
        
            </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-body">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link "  [routerLink]="['add-CVI']" routerLinkActive="active"  role="tab" aria-selected="true">
                            <span class="d-block"><i class="fas fa-plus"></i></span>
                            <span class="d-none d-sm-block">CVI</span> 
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link "  [routerLink]="['add']" routerLinkActive="active"  role="tab" aria-selected="true">
                            <span class="d-block"><i class="fas fa-plus"></i></span>
                            <span class="d-none d-sm-block">CVF</span> 
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"  [routerLink]="['listado']" routerLinkActive="active" role="tab" aria-selected="false" tabindex="-1">
                            <span class="d-block "><i class="fas fa-list-ul"></i></span>
                            <span class="d-none d-sm-block">Listado</span> 
                        </a>
                    </li>
                   
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    
                    <router-outlet></router-outlet>
                   
                </div><!-- end tab content -->
              </div><!-- end card body -->
          </div>
        </div>



    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    {{ 'currentYear' | currentYear }}&copy; SarpSoft.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://sumiprodelacosta.com/" target="_blank" class="text-reset"> Dpto.sistemas</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>