<div class="main-content">

    <div class="page-content">
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Tu gráfico ngx-charts aquí -->
            <div class="chart-container">
              <ngx-charts-bar-vertical-2d
                [view]="[viewWidth, 400]"
                [scheme]="barChartOptions.colorScheme"
                [results]="data"
                [gradient]="barChartOptions.gradient"
                [xAxis]="barChartOptions.showXAxis"
                [yAxis]="barChartOptions.showYAxis"
                [legend]="barChartOptions.showLegend"
                [legendTitle]="barChartOptions.legendTitle"
                [showXAxisLabel]="barChartOptions.showXAxisLabel"
                [legendPosition]="barChartOptions.legendPosition"
                [xAxisLabel]="barChartOptions.xAxisLabel"
                [showYAxisLabel]="barChartOptions.showYAxisLabel"
                [yAxisLabel]="barChartOptions.yAxisLabel"
              ></ngx-charts-bar-vertical-2d>

              
            </div>
            
          </div>
          <hr>
          <div class="col-12">
            <!-- Tu gráfico ngx-charts aquí -->
            <!-- <p>Cuentas por pagar</p> -->
            <div class="chart-container">
              <ngx-charts-advanced-pie-chart
                [results]="cxp"
                [gradient]="false"
                [scheme]="barChartOptions.colorScheme"
                
                [animations]="true"
              ></ngx-charts-advanced-pie-chart>
              <div class="chart-title">
                <p class="fw-bold">CUENTAS POR PAGAR </p><!-- Título del gráfico -->
              </div>
              
            </div>
            
          </div>
          <hr>
          <div class="col-12">
            <!-- Tu gráfico ngx-charts aquí -->
            <!-- <p>Cuentas por pagar</p> -->
            <div class="chart-container">
              <ngx-charts-advanced-pie-chart
                [results]="cxc"
                [gradient]="false"
                [scheme]="barChartOptions.colorScheme"
                
                [animations]="true"
              ></ngx-charts-advanced-pie-chart>
              <div class="chart-title">
                <p class="fw-bold">CUENTAS POR COBRAR </p><!-- Título del gráfico -->
              </div>
              
            </div>
            
          </div>
        </div>
      </div> 
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> &copy; SarpSoft.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Crafted by <a href="https://Pichforest.com/" target="_blank" class="text-reset"> Dpto.sistemas</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </div>