<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
          <div class="col-12">
              <div class="page-title-box d-flex align-items-center justify-content-between">
                  <h4 class="mb-0"></h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Facturación</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);" [routerLink]="['/crear-factura']">crear</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                  </div>

              </div>
          </div>
      </div>
      <!-- end page title -->

      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="invoice-title">
                          <div class="float-end font-size-15">
                            <button type="button" class="btn btn-outline-primary mb-4" (click)="imprimir()">
                              <i class="squire ico-pdf" style="color:red"></i>&nbsp; IMPRIMIR
                            </button> 
                          </div>
                          <div class="mb-4">
                              <img src="assets/images/logoEmpresa.png" alt="logo" height="120">
                          </div>
                          <div class="text-muted">
                              <p class="mb-1"> <i class="uil uil-building me-1"></i><strong>SUMIPROD DE LA COSTA S.A.S. </strong> </p>
                              <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i>sumiprodelacosta@gmail.com</p>
                              <p><i class="uil uil-postcard me-1"></i> <strong>901648084</strong></p>
                          </div>
                      </div>

                      
                      <div class="row">
                        <p-divider [text]="'DATOS DE LA VENTA'" [align]="'left'"></p-divider>
                      </div>

                      <div class="row">
                        <div class="col-9">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Cliente:</h5>
                                <h5 class="font-size-15 mb-2" *ngIf="this.factura" > <i class="uil uil-building me-1"></i> {{this.factura.cliente.nombreComercial}}</h5>
                                <p class="mb-1" *ngIf="this.factura" > <i class="uil uil-sign-alt me-1"></i> {{this.factura.cliente.direccion}}</p>
                                <p class="mb-1" *ngIf="this.factura" ><i class="uil uil-envelope-alt me-1"></i> {{this.factura.cliente.correoContacto}}</p>
                                <p *ngIf="this.factura"><i class="uil uil-postcard me-1"></i> {{this.factura.cliente.documento}}</p>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-3">
                            <div class="text-muted text-sm-end">
                              <div class="row" style="text-align: left;">
                                <h5 class="font-size-16 mb-3"></h5>
                                <p class="font-size-15 mb-2" *ngIf="this.factura" > <i class="uil uil-money-bill me-1"></i> <strong>Forma de pago:</strong> {{this.factura.formaPago.nombre}}</p>
                                <p class="mb-1" *ngIf="this.factura" > <i class="uil uil-bill me-1"></i><strong>Factura N°:</strong> {{this.factura.numero}}</p>
                                <p class="mb-1" *ngIf="this.factura" ><i class="uil uil-calendar-alt me-1"></i><strong>Fecha:</strong> {{this.factura.fecha | date }}</p>
                                <!-- <p *ngIf="this.factura"><i class="uil uil-receipt-alt me-1"></i><strong>Orden N°:</strong> {{this.factura.orden.numero}}</p> -->
                               
                              </div>
                              
                            </div>
                        </div>
                        <!-- end col -->
                    </div>

                   
                    <div class="row">
                      <p-divider [text]="'PRODUCTOS DE LA VENTA'"></p-divider>
                    </div>
                      <div class="py-2">
                          <h5 class="font-size-15">Detalle</h5>

                          <div class="table-responsive">
                              <table class="table table-responsive align-middle table-normal table-centered mb-0">
                                  <thead>
                                      <tr>
                                          <th width="auto" class="text-center">COD.</th>
                                          <th width="20%" style="white-space: normal;">PRODUCTO</th>
                                   
                                          <th width="auto" class="text-end">CANT</th>
                                          <th width="auto" class="text-end">VALOR UND</th>
                                          <th width="auto" class="text-center">LOTE</th>
                                          <th width="auto" class="text-center">LABORATORIO</th>
                                          <th width="auto" class="text-end">SUBTOTAL</th>
                                          <th width="auto" class="text-end">DESC %</th>
                                          <th width="auto" class="text-end">IVA</th>
                                          <th width="auto" class="text-end">TOTAL</th>
                                      </tr>
                                  </thead><!-- end thead -->
                                  <tbody *ngIf="this.factura">
                                      <tr *ngFor="let item of this.factura.productos; let i = index"  style="cursor: pointer;">
                                            

                                          <th class="text-center">{{item.producto.codigoDeBarra}}</th>
                                          <td >
                                            
                                            {{item.producto.nombreymarcaunico | acortarText:50}}
                                            
                                          </td>
                                         
                                          <td class="text-center">{{item.cantidad}}</td>
                                          <td class="text-end">{{item.valor | currency }}</td>
                                          <td class="text-center">{{item.lote}}</td>
                                          <td class="text-center">{{item.laboratorio}}</td>
                                          <td class="text-end">{{item.subtotal | currency}}</td>
                                          <td class="text-end">{{item.descuento | currency}}</td>
                                          <td class="text-end">{{item.iva | currency}}</td>
                                          <td class="text-end">{{item.total | currency}}</td>
                                      </tr>
                                    
                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="9" class="text-end">Subtotal:</th>
                                          <td class="text-end">{{this.factura.subtotal | currency}}</td>
                                      </tr>
                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="9" class="border-0 text-end">
                                              Descuento :</th>
                                          <td class="border-0 text-end" style="color: red;">- {{this.factura.descuento | currency}}</td>
                                      </tr>
                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="9" class="border-0 text-end">
                                              IVA :</th>
                                          <td class="border-0 text-end">{{this.factura.valorIva | currency}}</td>
                                      </tr>
                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="9" class="border-0 text-end">
                                              Retención:</th>
                                          <td class="border-0 text-end" style="color: red;">- {{this.factura.valorReteFuente | currency}}</td>
                                      </tr>
                                      <tr *ngIf="this.factura.valorDomicilio > 0">
                                        <th scope="row" colspan="9" class="border-0 text-end">
                                            Domicilio:</th>
                                        <td class="border-0 text-end" style="color: green;">+ {{this.factura.valorDomicilio | currency}}</td>
                                        </tr>
                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="9" class="border-0 text-end">Total:</th>
                                          <td class="border-0 text-end"><h4 class="m-0 fw-semibold">{{this.factura.valor + this.factura.valorDomicilio | currency}}</h4></td>
                                      </tr>
                                      <!-- end tr -->
                                  </tbody><!-- end tbody -->
                                  
                              </table><!-- end table -->
                          </div><!-- end table responsive -->
                          <div class="d-print-none mt-4">
                              <div class="float-end">
                                  <!-- <a href="javascript:;" class="btn btn-danger me-1"(click)="cancelarGuardado()"><i class="fa fa-ban"></i></a>  -->
                                  <!-- <button class="btn btn-primary w-md" type="submit" [disabled]="formIngreso.invalid">Guardar </button> -->
                                
                              </div>
                          </div>
                      </div>
                   
                  </div>

                  <div class="card-footer" *ngIf="this.factura?.numeracion.tipoDocumento != '9'">
                         
                    <div class="row">
                      <p-divider [text]="'CONTABILIDAD DE LA VENTA'"></p-divider>
                    </div>
                    <div class="row">
                      <div class="card">
              
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                <li class="nav-item " role="presentation">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#asiento" role="tab" aria-selected="true" tabindex="-1">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Asiento Contable</span> 
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#pagos" role="tab" aria-selected="false" tabindex="-1">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Cobros</span> 
                                    </a>
                                </li>
                               
                              
                    
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content p-3 text-muted">
                                <div class="tab-pane active" id="asiento" role="tabpanel">
                                  <div class="card card-h-100" *ngIf="this.contaAsiento">
                                    <div class="card-body"> 
                                        <div class="float-end">
                                            <a (click)="reContabilizar()"  href="javascript:;" class="btn btn-soft-primary btn-sm">Recontabilizar <i class="mdi mdi-arrow-right ms-1"></i></a>

                                        </div>
                                        <div class="row">
                                            <h4 class="card-title mb-4">Asiento N°: {{contaAsiento.numero}} 
                                                
                                            </h4>
                                            <h6 class="card-title mb-4">Concepto: <span>{{contaAsiento.concepto}}</span></h6>
                                            
                                        </div>
    
                                        <div class="table-responsive">
                                            <table class="table table-hover table-nowrap mb-0 align-middle table-check">
                                                <thead class="bg-light">
                                                    <tr>
                                                        
                                                        <th width="40%" class="text-left">TERCERO</th>
                                                        <th width="10%" class="text-center">FECHA</th>
                                                        <th width="20%" class="text-center">CUENTA</th>
                                                        <th width="15%" class="text-end">DÉBITO</th>
                                                        <th width="15%" class="text-end">CRÉDITO</th>
                                                    </tr>
                                                    <!-- end tr -->
                                                </thead>
                                                <!-- end thead -->
                                                <tbody *ngFor="let item of contaAsiento.detalle">
                                                  <tr>
                                                        
                                                    <td width="40%" class="text-left">{{item.tercero.nombreComercial}}</td>
                                                    <td width="10%" class="text-center">{{item.fecha | datetime }}</td>
                                                    <td width="20%" class="text-left">{{item.cuenta.codigo}} - {{item.cuenta.nombre}}</td>
                                                    <td width="15%" class="text-end">{{item.debito  | currency}}</td>
                                                    <td width="15%" class="text-end">{{item.credito | currency  }}</td>
                                                </tr>
                                                </tbody>
                                                <tfoot class="bg-light">
                                                  <tr>
                                                        
                                                    
                                                    <th scope="row" colspan="3" class="border-0 text-end"><strong>TOTALES:</strong></th>
                                                    <td width="auto" class="text-end" style="font-weight: bold;">{{this.contaAsientoTotalDebito  | currency}}</td>
                                                    <td width="auto" class="text-end" style="font-weight: bold;">{{this.contaAsientoTotalCredito | currency  }}</td>
                                                  </tr>
                                                </tfoot>
                                            </table><!-- end table -->
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="tab-pane" id="pagos" role="tabpanel">
                                    <p class="mb-0">
                                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                        single-origin coffee squid. Exercitation +1 labore velit, blog
                                        sartorial PBR leggings next level wes anderson artisan four loko
                                        farm-to-table craft beer twee. Qui photo booth letterpress,
                                        commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                                        vinyl cillum PBR. Homo nostrud organic, assumenda labore
                                        aesthetic magna delectus.
                                    </p>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
              </div>
          </div><!-- end col -->
      </div><!-- end row -->
      
  </div>

      <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                  <script>
                      document.write(new Date().getFullYear())
                  </script> &copy; SarpSoft.
              </div>
              <div class="col-sm-6">
                  <div class="text-sm-end d-none d-sm-block">
                      Crafted by <a href="https://Pichforest.com/" target="_blank" class="text-reset"> Dpto.sistemas</a>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
