<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="mx-n4 mt-n4">
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-0">
              <div class="card-body p-0">
                <div class="profile-bg position-relative overflow-hidden">
                  <div class="bg-overlay bg-dark bg-gradient"></div>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <!-- end row -->
      </div>

      <div class="row">
        <div class="col-xl-3">
          <div class="card mt-n5">
            <div class="card-body text-center">
              <div class="text-end">
                <!-- <div class="dropdown">
                                <a class="btn btn-link text-dark font-size-16 p-1 dropdown-toggle shadow-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="uil uil-ellipsis-h"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div> -->
              </div>
              <div class="avatar-xxl mx-auto mb-4">
                <img
                  [src]="this._empleado.foto"
                  alt=""
                  class="rounded-circle img-thumbnail"
                />
              </div>
              <h5 class="mb-1">
                {{ this.datosPersonales.primerNombre }}
                {{ this.datosPersonales.primerApellido }}
              </h5>
              <p class="text-muted">{{ this.datosPersonales.Cargo }}</p>

              <div>
                <i
                  class="mdi mdi-wallet text-muted font-size-16 align-middle me-1"
                ></i>
                <span class="align-middle"
                  >Salario :
                  <b class="fw-semibold font-size-16">{{
                    this.datosContrato.salarioBase | currency
                  }}</b></span
                >
              </div>
              <div>
                <i
                  class="mdi mdi-wallet text-muted font-size-16 align-middle me-1"
                ></i>
                <span class="align-middle"
                  >Ingresos :
                  <b class="fw-semibold font-size-16">{{
                    calcularSumaIngresos(this.datosContrato.ingresosRecurrentes)
                      | currency
                  }}</b></span
                >
              </div>
              <div>
                <i
                  class="mdi mdi-wallet text-muted font-size-16 align-middle me-1"
                ></i>
                <span class="align-middle"
                  >Descuento :
                  <b class="fw-semibold font-size-16">{{
                    calcularSumaDeducciones(
                      this.datosContrato.deduccionesRecurrentes
                    ) | currency
                  }}</b></span
                >
              </div>
            </div>
            <div class="d-flex border-top p-2">
              <div class="flex-grow-1">
                <div class="p-2 ps-3">
                  {{ this.datosContrato.salarioBase / 30 | currency }} / Valor
                  del dia
                </div>
              </div>
            </div>
          </div>
          <!-- end card -->

          <div class="card">
            <div class="card-body">
              <div class="row">
                <p-divider
                  [text]="'Forma de pago'"
                  [align]="'center'"
                ></p-divider>
              </div>

              <div class="col">
                <mat-form-field
                  appearance="outline"
                  style="width: 100%; height: auto"
                >
                  <mat-label style="font-size: 16px">Banco</mat-label>

                  <mat-select
                    [(ngModel)]="this.datosPersonales.banco"
                    style="text-align: center"
                    [disabled]="!_editDatosPago"
                  >
                    <mat-option value="Banco Davivienda"
                      >Banco Davivienda</mat-option
                    >
                    <mat-option value="Banco Bogotá">Banco Bogotá</mat-option>
                    <mat-option value="Banco Occidente"
                      >Banco Occidente</mat-option
                    >
                    <mat-option value="Bancolombia">Bancolombia</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field
                  appearance="outline"
                  style="width: 100%; height: auto"
                >
                  <mat-label style="font-size: 16px">Forma de pago</mat-label>
                  <mat-select
                    [(ngModel)]="this.datosPersonales.formaDepago.valor"
                    style="text-align: center"
                    [disabled]="!_editDatosPago"
                  >
                    <mat-option value="1">Instrumento no definido</mat-option>
                    <mat-option value="10">Efectivo</mat-option>
                    <mat-option value="42">Consignación bancaria</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field
                  appearance="outline"
                  style="width: 100%; height: auto"
                >
                  <mat-label style="font-size: 16px">N° Cuenta</mat-label>
                  <input
                    [disabled]="!_editDatosPago"
                    [(ngModel)]="this.datosPersonales.noCuenta"
                    placeholder="this.datosDePago.noCuenta"
                    matInput
                    type="text"
                    id=""
                  />
                </mat-form-field>
              </div>

              <div *ngIf="!_editDatosPago" class="flex-shrink-0 mt-3">
                <div class="d-flex gap-2 justify-content-end arrow-sm">
                  <button
                    (click)="this._editDatosPago = !this._editDatosPago"
                    mat-mini-fab
                    color="primary"
                    aria-label="Example icon button with a plus one icon"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="_editDatosPago" class="flex-shrink-0 mt-4">
                <div class="d-flex gap-2 justify-content-end arrow-sm">
                  <button
                    (click)="this._editDatosPago = !this._editDatosPago"
                    mat-raised-button
                    color="accent"
                  >
                    CANCELAR
                  </button>
                  <button
                    (click)="actualizarDatosPersonales()"
                    mat-raised-button
                    color="primary"
                  >
                    GUARDAR
                  </button>
                </div>
              </div>

              <!-- <div class="col">
                    <mat-form-field appearance="outline" style="width:100%; height: auto;">
                      <mat-label style="font-size: 16px;">Tipo de trabajador</mat-label>
                      <mat-select  [(ngModel)]="this.datosContrato.tipoTrabajador.valor style="text-align: center;">
                        <mat-option value="1"> Dependiente </mat-option>
                        <mat-option value="2"> Servicio domestico </mat-option>
                        <mat-option value="3"> Independiente </mat-option>
                        <mat-option value="4"> Madre comunitaria </mat-option>
                        <mat-option value="12"> Aprendices del Sena en etapa lectiva </mat-option>
                        <mat-option value="16"> Independiente agremiado o asociado </mat-option>
                        <mat-option value="19"> Aprendices del SENA en etapa productiva </mat-option>
                        <mat-option value="20"> Estudiantes (régimen especial ley 789 de 2002) </mat-option>
                        <mat-option value="21"> Estudiantes de postgrado en salud </mat-option>
                        <mat-option value="23"> Estudiantes aportes solo riesgos laborales </mat-option>
                        <mat-option value="59"> Independiente con contrato de prestación de servicios superior a 1 mes </mat-option>
                      </mat-select>
                    
                    </mat-form-field>
                  </div> -->
            </div>

            <!-- end card body -->
          </div>
          <!-- end card -->

          <!-- end card -->
        </div>
        <!-- end col -->

        <!-- PRIMERA PARTE DEBAJO DE LA FOTO PRINCIPAL -->

        <div class="col-xl-9">
          <div class="mt-4">
            <div class="row">
              <div class="col-lg-8">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <p-divider
                        [text]="'DATOS PERSONALES'"
                        [align]="'center'"
                      ></p-divider>
                    </div>

                    <div
                      *ngIf="!_editDatosPersonales"
                      class="list-group list-group-flush mb-2"
                    >
                      <a class="list-group-item">
                        <div class="d-flex align-items-center">
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Nombres</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.primerNombre }}
                                {{ this.datosPersonales.segundoNombre }} &nbsp;
                              </p>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Apellidos</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.primerApellido }}
                                {{ this.datosPersonales.segundoApellido }}
                                &nbsp;
                              </p>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">
                                {{ this.datosPersonales.tipoDocumento.nombre }}
                              </h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.documento }} &nbsp;
                              </p>
                            </div>
                          </div>

                        </div>
                      </a>
                      <a class="list-group-item">
                        <div class="d-flex align-items-center">
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Nacimiento</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{
                                  this.datosPersonales.fechaNacimiento | date
                                }}
                                &nbsp;
                              </p>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Correo</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.correo }} &nbsp;
                              </p>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Teléfono</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.telefono }} &nbsp;
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item">
                        <div class="d-flex align-items-center">
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Dirección</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.direccion }} &nbsp;
                              </p>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Cargo</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.Cargo }} &nbsp;
                              </p>
                            </div>
                          </div>

                          <div class="flex-grow-1">
                            <div>
                              <h5 class="font-size-14 mb-1">Proveedor</h5>
                              <p
                                class="custom-underline font-size-14 text-muted mb-0"
                              >
                                {{ this.datosPersonales.tercero.nombreComercial }}
                                &nbsp;
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                      <div class="flex-shrink-0 mt-2">
                        <div class="d-flex gap-2 justify-content-end arrow-sm">
                          <button
                            (click)="
                              this._editDatosPersonales =
                                !this._editDatosPersonales
                            "
                            mat-mini-fab
                            color="primary"
                            aria-label="Example icon button with a plus one icon"
                          >
                            <mat-icon>edit</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      *ngIf="_editDatosPersonales"
                      class="list-group list-group-flush mb-2"
                    >
                      <div class="row">
                        <div class="col-6 col-md-3">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Primer nombre</mat-label
                              >
                              <input
                                required
                                [(ngModel)]="this.datosPersonales.primerNombre"
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-6 col-md-3">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Segundo nombre</mat-label
                              >
                              <input
                                [(ngModel)]="this.datosPersonales.segundoNombre"
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-6 col-md-3">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Primer apellido</mat-label
                              >
                              <input
                                [(ngModel)]="
                                  this.datosPersonales.primerApellido
                                "
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-6 col-md-3">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Segundo apellido</mat-label
                              >
                              <input
                                [(ngModel)]="
                                  this.datosPersonales.segundoApellido
                                "
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 col-md-4">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Tipo de documento</mat-label
                              >
                              <mat-select
                                [(ngModel)]="
                                  this.datosPersonales.tipoDocumento.valor
                                "
                                style="text-align: center"
                              >
                                <mat-option value="1"
                                  >Cédula de ciudadanía</mat-option
                                >
                                <mat-option value="2"
                                  >Cédula de extranjería</mat-option
                                >
                                <mat-option value="3"
                                  >Tarjeta de identidad</mat-option
                                >
                                <mat-option value="4">Pasaporte</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-6 col-md-4">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >No Documento</mat-label
                              >
                              <input
                                [(ngModel)]="this.datosPersonales.documento"
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-6 col-md-4">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 18px"
                                >Proveedor</mat-label
                              >
                              <mat-select
                                placeholder="Seleccionar cliente"
                                [(ngModel)]="
                                  datosPersonales.tercero.id
                                "
                              >
                                <mat-option>
                                  <ngx-mat-select-search
                                    [formControl]="filtroTerceroControl"
                                    #filtroTercero
                                    placeholderLabel="Buscar proveedor"
                                    noEntriesFoundLabel="No hay resultados"
                                  >
                                    <mat-icon
                                      style="color: red"
                                      ngxMatSelectSearchClear
                                      >delete_forever</mat-icon
                                    >
                                  </ngx-mat-select-search>
                                </mat-option>
                                <mat-option
                                  *ngFor="let item of filtroProveedor | async"
                                  [value]="item.id"
                                >
                                  {{ item.nombreComercial }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 col-md-3">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Nacimiento</mat-label
                              >
                              <input
                                [(ngModel)]="
                                  this.datosPersonales.fechaNacimiento
                                "
                                matInput
                                [matDatepicker]="picker"
                              />
                              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                              <a
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="picker.open()"
                              >
                                <mat-icon color="primary"
                                  >calendar_month</mat-icon
                                >
                              </a>

                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-6 col-md-6">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Correo</mat-label
                              >
                              <input
                                [(ngModel)]="this.datosPersonales.correo"
                                matInput
                                type="email"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-6 col-md-3">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Telefono</mat-label
                              >
                              <input
                                [(ngModel)]="this.datosPersonales.telefono"
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6 col-md-6">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Dirección</mat-label
                              >
                              <input
                                [(ngModel)]="this.datosPersonales.direccion"
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-6 col-md-6">
                          <div class="form-group">
                            <mat-form-field
                              appearance="outline"
                              style="width: 100%; height: auto"
                            >
                              <mat-label style="font-size: 16px"
                                >Cargo</mat-label
                              >
                              <input
                                [(ngModel)]="this.datosPersonales.Cargo"
                                matInput
                                type="text"
                                id=""
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="flex-shrink-0 mt-2">
                        <div class="d-flex gap-2 justify-content-end arrow-sm">
                          <button
                            (click)="
                              this._editDatosPersonales =
                                !this._editDatosPersonales
                            "
                            mat-raised-button
                            color="accent"
                          >
                            CANCELAR
                          </button>
                          <button
                            (click)="actualizarDatosPersonales()"
                            mat-raised-button
                            color="primary"
                          >
                            GUARDAR
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->

                <!-- TARGETA EDITAR CONTRATO -->

                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <p-divider
                        [text]="'DATOS DEL CONTRATO'"
                        [align]="'center'"
                      ></p-divider>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <mat-form-field
                            appearance="fill"
                            floatLabel="always"
                            style="
                              width: 100%;
                              height: auto;
                              margin: 0px 0px 10px 0px;
                            "
                          >
                            <mat-label style="font-size: 16px"
                              >Salario(Mensual)</mat-label
                            >
                            <input
                              [(ngModel)]="this.datosContrato.salarioBase"
                              matInput
                              type="number"
                              class="example-right-align"
                              #salarioBase
                              [disabled]="!_editDatosContrato"
                            />
                            <span matPrefix>$&nbsp;</span>
                            <span matSuffix>.00</span>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <mat-form-field
                            appearance="outline"
                            style="
                              width: 100%;
                              height: auto;
                              margin: 0px 0px 10px 0px;
                            "
                          >
                            <mat-label style="font-size: 16px">EPS</mat-label>

                            <mat-select
                              [(ngModel)]="this.datosContrato.eps.id"
                              style="text-align: center"
                              [disabled]="!_editDatosContrato"
                            >
                              <mat-option
                                *ngFor="let item of listadoEps"
                                [value]="item.id"
                                >{{ item.tercero }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="
                            width: 100%;
                            height: auto;
                            margin: 0px 0px 10px 0px;
                          "
                        >
                          <mat-label style="font-size: 16px"
                            >Fondo de pensión</mat-label
                          >

                          <mat-select
                            [(ngModel)]="this.datosContrato.fondoPension.id"
                            style="text-align: center"
                            [disabled]="!_editDatosContrato"
                          >
                            <mat-option
                              *ngFor="let item of listadoPension"
                              [value]="item.id"
                              >{{ item.tercero }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label
                            style="font-size: 16px; margin: 0px 0px 10px 0px"
                            >Fonde de cesantias</mat-label
                          >

                          <mat-select
                            [(ngModel)]="this.datosContrato.fondoCesantias.id"
                            style="text-align: center"
                            [disabled]="!_editDatosContrato"
                          >
                            <mat-option
                              *ngFor="let item of listadoCesantias"
                              [value]="item.id"
                              >{{ item.tercero }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label style="font-size: 16px"
                            >Caja de compensación</mat-label
                          >

                          <mat-select
                            [(ngModel)]="this.datosContrato.cajaCompensacion.id"
                            style="text-align: center"
                            [disabled]="!_editDatosContrato"
                          >
                            <mat-option
                              *ngFor="let item of listadoCajaCompensacion"
                              [value]="item.id"
                              >{{ item.tercero }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label style="font-size: 16px">ARL</mat-label>

                          <mat-select
                            [(ngModel)]="this.datosContrato.arl.id"
                            style="text-align: center"
                            [disabled]="!_editDatosContrato"
                          >
                            <mat-option
                              *ngFor="let item of listadoArl"
                              [value]="item.id"
                              >{{ item.tercero }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label style="font-size: 16px">Riesgo</mat-label>
                          <mat-select
                            [disabled]="!_editDatosContrato"
                            [(ngModel)]="this.datosContrato.riesgo.valor"
                            style="text-align: center"
                          >
                            <mat-option [value]="0.522">
                              Minimo - Riesgo 1
                            </mat-option>
                            <mat-option [value]="1.044">
                              Bajo - Riesgo 2
                            </mat-option>
                            <mat-option [value]="2.436">
                              Medio - Riesgo 3
                            </mat-option>
                            <mat-option [value]="4.35">
                              Alto - Riesgo 4
                            </mat-option>
                            <mat-option [value]="6.96">
                              Máximo - Riesgo 5
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label style="font-size: 16px"
                            >Tipo de contrato</mat-label
                          >
                          <mat-select
                            [disabled]="!_editDatosContrato"
                            [(ngModel)]="this.datosContrato.tipoContrato.valor"
                            style="text-align: center"
                          >
                            <mat-option value="1"> Termino fijo </mat-option>
                            <mat-option value="2">
                              Termino indefinido
                            </mat-option>
                            <mat-option value="3"> Obra o labor </mat-option>
                            <mat-option value="4"> Aprendizaje </mat-option>
                            <mat-option value="5"> Practicas </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label style="font-size: 16px"
                            >Tipo de trabajador</mat-label
                          >
                          <mat-select
                            [disabled]="!_editDatosContrato"
                            [(ngModel)]="
                              this.datosContrato.tipoTrabajador.valor
                            "
                            style="text-align: center"
                          >
                            <mat-option value="1"> Dependiente </mat-option>
                            <mat-option value="2">
                              Servicio domestico
                            </mat-option>
                            <mat-option value="3"> Independiente </mat-option>
                            <mat-option value="4">
                              Madre comunitaria
                            </mat-option>
                            <mat-option value="12">
                              Aprendices del Sena en etapa lectiva
                            </mat-option>
                            <mat-option value="16">
                              Independiente agremiado o asociado
                            </mat-option>
                            <mat-option value="19">
                              Aprendices del SENA en etapa productiva
                            </mat-option>
                            <mat-option value="20">
                              Estudiantes (régimen especial ley 789 de 2002)
                            </mat-option>
                            <mat-option value="21">
                              Estudiantes de postgrado en salud
                            </mat-option>
                            <mat-option value="23">
                              Estudiantes aportes solo riesgos laborales
                            </mat-option>
                            <mat-option value="59">
                              Independiente con contrato de prestación de
                              servicios superior a 1 mes
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field
                          appearance="outline"
                          style="width: 100%; height: auto"
                        >
                          <mat-label style="font-size: 16px"
                            >N° Contrato</mat-label
                          >
                          <input
                            [disabled]="!_editDatosContrato"
                            [(ngModel)]="this.datosContrato.noContrato"
                            placeholder="this.datosContrato.noContrato"
                            matInput
                            type="text"
                            id=""
                          />
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field appearance="fill" style="width: 100%">
                          <mat-label>Fecha Inicial (contrato)</mat-label>
                          <input
                            [disabled]="!_editDatosContrato"
                            matInput
                            [(ngModel)]="this.datosContrato.fechaInicioContrato"
                            [matDatepicker]="f_i"
                          />
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <a
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="f_i.open()"
                          >
                            <mat-icon color="primary">calendar_month</mat-icon>
                          </a>

                          <mat-datepicker #f_i></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div
                        class="col-md-4"
                        *ngIf="this.datosContrato.tipoContrato.valor !== '2'"
                      >
                        <mat-form-field appearance="fill" style="width: 100%">
                          <mat-label>Fecha final (contrato)</mat-label>
                          <input
                            [disabled]="!_editDatosContrato"
                            matInput
                            [(ngModel)]="this.datosContrato.fechaFinalContrato"
                            [matDatepicker]="f_f"
                          />
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <a
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="f_f.open()"
                          >
                            <mat-icon color="primary">calendar_month</mat-icon>
                          </a>

                          <mat-datepicker #f_f></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>

                    <div *ngIf="!_editDatosContrato" class="flex-shrink-0 mt-3">
                      <div class="d-flex gap-2 justify-content-end arrow-sm">
                        <button
                          (click)="
                            this._editDatosContrato = !this._editDatosContrato
                          "
                          mat-mini-fab
                          color="primary"
                          aria-label="Example icon button with a plus one icon"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div *ngIf="_editDatosContrato" class="flex-shrink-0 mt-4">
                      <div class="d-flex gap-2 justify-content-end arrow-sm">
                        <button
                          (click)="
                            this._editDatosContrato = !this._editDatosContrato
                          "
                          mat-raised-button
                          color="accent"
                        >
                          CANCELAR
                        </button>
                        <button
                          (click)="actualizarDatosContrato()"
                          mat-raised-button
                          color="primary"
                        >
                          GUARDAR
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->

              
                <!-- end card -->
              </div>

              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">

                    <div class="row">
                      <p-divider
                        [text]="'INGRESOS'"
                        
                        [align]="'center'"
                      ></p-divider>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <button mat-icon-button (click)="openModalIngresos(IngresosDeducciones)"  matTooltip="Pulsa aca para añadir un nuevo ingreso!" color="primary" class="float-end">
                          <mat-icon style="color: #43b6ff;">add</mat-icon>
                        </button>

                        <table class="mt-2 table table-responsive table-nowrap">
                          <thead>
                            <tr>
                              <th>TIPO</th>
                              <th>CONCEPTO</th>
                              <th>VALOR</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let item of this.datosContrato.ingresosRecurrentes">
                            <tr>
                              <td class="text-nowrap">{{item.tipo}}</td>
                              <td class="text-nowrap">{{item.concepto.nombre}}</td>
                              <td class="text-nowrap">{{item.valorMensual}}</td>
                            </tr>
                          </tbody>
  
                        </table>
                      </div>
                      
                     
                      
                    </div>

                    <!-- <div class="col">
                      <mat-form-field
                        appearance="outline"
                        style="width: 100%; height: auto"
                      >
                        <mat-label style="font-size: 16px"
                          >DEDUCCIONES RECURRENTES</mat-label
                        >

                        <mat-select
                          
                          multiple
                          [(ngModel)]="selectedDeducciones"
                          (selectionChange)="updateDeducciones($event)"
                          style="text-align: center"
                        >
                          <mat-option
                            *ngFor="let item of listadoDeduccionesRecurrentes"
                            [value]="item.id"
                            >{{ item.concepto }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <!-- <mat-form-field
                        appearance="outline"
                        style="width: 100%; height: auto"
                      >
                        <mat-label style="font-size: 16px"
                          >INGRESOS RECURRENTES</mat-label
                        >

                        <mat-select
                          
                          multiple
                          [(ngModel)]="selectedIngresos"
                          (selectionChange)="updateIngresos($event)"
                          style="text-align: center"
                        >
                          <mat-option
                            *ngFor="let item of listadoIngresosRecurrentes"
                            [value]="item.id"
                            >{{ item.concepto }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field> 
                    </div> -->
                  </div>
                </div>

                <div style="margin-top: 15px;" class="card">
                  <div class="card-body">

                    <div class="row">
                      <p-divider
                        [text]="'DEDUCCIONES'"
                        
                        [align]="'center'"
                      ></p-divider>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <button mat-icon-button (click)="openModalDeducciones(IngresosDeducciones)"  matTooltip="Pulsa aca para añadir una nueva deduccion!" color="primary" class="float-end">
                          <mat-icon style="color: #43b6ff;">add</mat-icon>
                        </button>

                        <table class="mt-2 table table-responsive table-nowrap">
                          <thead >
                            <tr>
                              <th>TIPO</th>
                              <th>CONCEPTO</th>
                              <th>VALOR</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let item of this.datosContrato.deduccionesRecurrentes">
                            <tr >
                              <td class="text-nowrap">{{item.tipo}}</td>
                              <td class="text-nowrap">{{item.concepto.nombre}}</td>
                              <td class="text-nowrap">{{item.valorMensual}}</td>
                            </tr>
                          </tbody>
  
                        </table>
                      </div>
                      
                     
                      
                    </div>

                    <!-- <div class="col">
                      <mat-form-field
                        appearance="outline"
                        style="width: 100%; height: auto"
                      >
                        <mat-label style="font-size: 16px"
                          >DEDUCCIONES RECURRENTES</mat-label
                        >

                        <mat-select
                          
                          multiple
                          [(ngModel)]="selectedDeducciones"
                          (selectionChange)="updateDeducciones($event)"
                          style="text-align: center"
                        >
                          <mat-option
                            *ngFor="let item of listadoDeduccionesRecurrentes"
                            [value]="item.id"
                            >{{ item.concepto }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <!-- <mat-form-field
                        appearance="outline"
                        style="width: 100%; height: auto"
                      >
                        <mat-label style="font-size: 16px"
                          >INGRESOS RECURRENTES</mat-label
                        >

                        <mat-select
                          
                          multiple
                          [(ngModel)]="selectedIngresos"
                          (selectionChange)="updateIngresos($event)"
                          style="text-align: center"
                        >
                          <mat-option
                            *ngFor="let item of listadoIngresosRecurrentes"
                            [value]="item.id"
                            >{{ item.concepto }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field> 
                    </div> -->
                  </div>
                </div>
              </div>
              

              <!-- end row -->
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- End Page-content -->

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            {{ "currentYear" | currentYear }}&copy; SarpSoft.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by
              <a
                href="https://sumiprodelacosta.com/"
                target="_blank"
                class="text-reset"
              >
                Dpto.sistemas</a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<ng-template #IngresosDeducciones let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="modalMarca">Agregar Concepto Tipo ({{ TIPO }})</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarModalIngresosyDeducciones()" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
     <app-modal-ingreso-deduccion [tipo]="TIPO" (resultadoForm)="guardarIngresoDeduccion($event)" ></app-modal-ingreso-deduccion>
    
    
  </div>
 
</ng-template>