<table id="DataTable" class="table table-striped table-bordered" style="width:100%">
    <thead style="width:100%">
        <tr style="width:100%">
            <ng-container *ngFor="let th of obtenerHeaders()">

                <th>{{th}}</th>
            </ng-container>

        </tr>

    </thead>
    <tbody>

    </tbody>
</table>

<table id="table" class="table table-striped table-bordered" style="width:100%">
    <thead style="width:100%">
        <tr style="width:100%">
            <ng-container *ngFor="let th of obtenerHeaders()">
                <th>{{th}}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>