<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-flex align-items-center justify-content-between"
          >
            <h4 class="mb-0">REPORTE DE NOMINA</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Nomina</a>
                </li>

                <li class="breadcrumb-item active">Reporte de nomina</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div
              class="card-header justify-content-between d-flex align-items-center"
            >
              <h4 class="card-title">REPORTE DE NOMINA</h4>
            </div>
            <!-- end card header -->
            <div class="card-body">
              <button type="button" (click)="generarPDF()" class="btn btn-success">
                Reporte nomina<i class="fas fa-check"></i>
              </button>
              &nbsp;

              <button type="button" (click)="generarPDFASOPAGOS()" class="btn btn-success">
                Reporte asopagos<i class="fas fa-check"></i>
              </button>
              &nbsp;
            </div>
            <!-- end card body -->
          </div>
          <!-- end card -->
        </div>
      </div>
    </div>

    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          &copy; SarpSoft.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            Crafted by
            <a
              href="https://Pichforest.com/"
              target="_blank"
              class="text-reset"
            >
              Dpto.sistemas</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
