<form >
    <div class="modal-body">

        <div class="row">
          <div class="col-md-4">
              <!-- <mat-form-field appearance="outline" style="width:100%; height: auto;"> -->
                <mat-label style="font-size: 16px;">Tipo Concepto</mat-label>
                <mat-select placeholder="Seleccione tipo concepto" style="text-align: center;">
                  <mat-option >Tipo Concepto 1</mat-option>
                  
                </mat-select>
              <!-- </mat-form-field> -->
            </div>
          
          <div class="col-md-8">
            <!-- <mat-form-field appearance="outline" style="width:100%; height: auto;"> -->
              <mat-label style="font-size: 18px;">Concepto</mat-label>
              <mat-select  placeholder="Seleccionar concepto"  >
                  
                  <mat-option >Concepto 1</mat-option>
                  
              </mat-select>
          <!-- </mat-form-field> -->
          </div>
    </div>
    </div>

    <div class="modal-footer">
        
        <button class="btn btn-primary">Agregar</button>
    </div>
  </form>
  