<div class="main-content">

  <div class="page-content">
      <div class="row">

        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">CUENTAS POR PAGAR</h4>

              <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a href="javascript: void(0);">Facturación</a></li>
                      <li class="breadcrumb-item active">listado</li>
                  </ol>
              </div>

          </div>
      </div>


        <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                    <div class="row align-items-end">
                      <div class="col-sm">
                          <div style="float: right;" class="botones-header">
                              
                              <button type="button"  class="btn btn-outline-primary mb-4">
                                <i class="squire ico-excel"></i>&nbsp; Exportar excel
                              </button>
                             
                           
                          </div>
                      </div>
                      <div class="col-sm-auto ">

                      </div>
                  </div>
                  </div>
                  <div class="card-body">
                   
                      <div class="row">
                        <div class="col-md-12" >
                                <table id="Tablecxp" style="width:100%" class="table table-striped table-bordered table-responsive" >
                                    <thead>
                                        <tr>
                                            <th style="width: 3%;text-align: center; justify-content: center; justify-items: center;">
                                         
                                            </th>
                                        
                                            <th style="white-space: nowrap">ORDEN N°</th>
                                            <th style="white-space: nowrap">FACTURA</th>
                                            <th style="white-space: normal; width: 80%;">PROVEEDOR</th>
                                            <th style="white-space: nowrap">FORMA DE PAGO</th>
                                            <th style="white-space: nowrap">CREACIÓN</th>
                                            <th style="white-space: nowrap">VENCE</th>
                                            <th style="white-space: nowrap">ESTADO</th>
                                            <th style="white-space: nowrap">BASE</th>
                                            <th style="white-space: nowrap">IVA</th>
                                          
                                            <th style="white-space: nowrap">DESCUENTO</th>
                                            <th style="white-space: nowrap">RETENCIÓN</th>
                                            <th style="white-space: nowrap">TOTAL</th>
                                            <th style="white-space: nowrap">ABONO</th>
                                            <th style="width: 8%;">
                                                <a type="button" class="btn position-relative" style="padding: 0; color: #fff; font-size: 16px; font-weight: bold" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 dropdown-menu">
                                                    <div class="input-group">
                                                        <input type="search" placeholder="Buscar " aria-describedby="button-addon1" class="form-control border-0 bg-light" [(ngModel)]="txtbuscarCXP" (ngModelChange)="table.search($event).draw();">
                                                        <div class="input-group-append">
                                                            <a id="button-addon1" type="button" class="btn btn-link text-primary"><i class="fa fa-search color-primary"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                            </table>
                        </div>
                         
                      </div>




                      <!-- end row -->
                  </div>
                  <!-- end card body -->
              </div>
              <!-- end card -->
          </div>
          <!-- end col -->
        </div>

      </div>

      <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                  <script>
                      document.write(new Date().getFullYear())
                  </script> &copy; SarpSoft.
              </div>
              <div class="col-sm-6">
                  <div class="text-sm-end d-none d-sm-block">
                      Crafted by <a href="https://Pichforest.com/" target="_blank" class="text-reset"> Dto: Sistemas</a>
                  </div>
              </div>
          </div>
      </div>
  </footer>

</div>