/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
::-webkit-scrollbar {
    display: none;
}

::ng-deep .mat-tooltip {
    /* your own custom styles here */
    /* e.g. */
    color: yellow !important;
}

:root {
    --color-primario: #41B6FF;
    --color-primario-light: #b2c6d3;
}

.visible{
    display: block;
}
.invisible{
    display: none;
}


/* html,
body {
    height: 100%;
} */

.toass-success {
    color: #ffffff;
    background-color: #3b4db5;
    max-width: 100% !important;
    margin-left: auto !important;
    padding: 10px !important;
}


/* body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}


/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.page-header {
    font-family: 'Dancing Script', cursive;
} */


/* .ck-editor__editable_inline {
    min-height: 500px important;
} */

.btn-save {
    display: inline-block;
    text-decoration: none;
    color: #3b4db5;
    border: 2px solid #3b4db5;
    transition: .3s linear;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(106, 108, 143, 0.47);
    -moz-box-shadow: 1px 1px 3px 0px rgba(106, 108, 143, 0.47);
    box-shadow: 1px 1px 3px 0px rgba(106, 108, 143, 0.47);
}

.btn-save:hover {
    background: #3b4db5;
    color: #f2f2f2;
}



/* .btn-swipe{
    position: relative;
    width: 200px;
    height: 60px;
    background: rgb(24,49,83);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.35);
    border-left: 0.5px solid rgba(255, 255, 255, 0.35);
    padding-left: 40px;
    transition: 0.5s;
    overflow: hidden;
} */


.btn-swipe{
    
    position: relative;
    width: 160px;
    height: 50px;
    background: rgb(24,49,83);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(24, 49, 83, 0.35);
    border-left: 0.5px solid rgba(24, 49, 83, 0.35);
    padding-left: 4%;
    transition: 0.5s;
    overflow: hidden;
}

.btn-swipe:hover{
    padding-left: 0px;
    padding-right: 40px;
    color: rgba(255, 255, 255, 1);
}

.btn-swipe span{
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #41B6FF;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a191d;
    font-size: 1.5em;
   

}

.btn-swipe:hover span{
   left: calc(100% - 55px);
}

.btn-swipe:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
}

.btn-swipe:hover:after{
    transform: translateX(170px) skewX(30deg);
}


.mat-button-toggle-focus-overlay {
    display: none;
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
    margin: 8px;
}

.example-tab-icon {
    margin-right: 10px;
}

::ng-deep .mat-ink-bar {
    background-color: #3b4db5 !important;
}

.snackbar {
    max-width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1rem !important;
    padding: 10px !important;
    background-color: #3b4db5;
    color: color;
}

.mat-button-wrapper {
    color: black !important;
}


/* Styles for tab labels */

::ng-deep .mat-tab-label {
    min-width: auto !important;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
}

::ng-deep .mat-form-field.mat-focused {
    height: auto !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
    min-width: 200px !important;
    padding: 5px;
    color: #1a35cc;
    font-weight: 700;
    opacity: 1;
}

fieldset {
    min-width: 0;
    padding: 7px;
    margin: 0;
    border: solid #000 2px;
    border-style: solid;
    margin-bottom: 15px;
}
/* fieldset {
    background-color: #F2F2F2;
    
} */

legend {
    display: block;
    padding: 5px;
    font-size: 14px;
    line-height: inherit;
    color: #6b6b6b;
    font-weight: 500;
    text-align: left;
}



@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fade-in 3s ease-in-out forwards infinite;
  }
  
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fade-out 3s ease-in-out forwards infinite;
  }
  

@-webkit-keyframes Animation {
    0% {
        transform: scale(1);
        opacity: 1;
        background-position: 10% 0%; 
    }
    50% { 
        background-position: 91% 100%; 
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% { 
        background-position: 10% 0%; 
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes Animation {
    0% {
        transform: scale(1);
        opacity: 1;
        background-position: 10% 0%; 
    }
    50% { 
        background-position: 91% 100%; 
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% { 
        background-position: 10% 0%; 
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Animation {
    0% {
        transform: scale(1);
        opacity: 1;
        background-position: 0% 10%; 
    }
    50% { 
        background-position: 40% 60%; 
        transform: scale(1.01);
        opacity: 0.8;
    }
    100% { 
        background-position: 80% 100%; 
        transform: scale(1);
        opacity: 1;
    }
}
  .linear {

    border: 1px solid #41b6ff;
   
    background: linear-gradient(40deg, rgba(241,241,241,1) 0%, rgba(222,224,226,1) 49%, rgba(65,182,255,0.4990371148459384) 100%);
    background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 1.5s ease infinite;

   
    
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    animation: bounce 2s ease-in-out infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 3s linear infinite;
  }
  
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slide-in 2s ease-in-out forwards infinite;
  }
  
  @keyframes scale-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .scale-in {
    animation: scale-in 2s ease-in-out forwards infinite;
  }
  
  
  @keyframes gradient-pulse {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-pulse {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient-pulse 4s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .pulse {
    animation: pulse 2s infinite;
  }

 
  .pr-1 {
    padding-right: 1rem !important;
  }
  
  .pr-2 {
    padding-right: 2rem !important;
  }
  
  .pr-3 {
    padding-right: 3rem !important;
  }
  
  .pr-4 {
    padding-right: 4rem !important;
  }
  
  .pr-5 {
    padding-right: 5rem !important;
  }


  .pr-100 {
    padding-right: 6.25rem !important;
  }

  .pr-150 {
    padding-right: 9.375rem !important;
  }


  .pr-200 {
    padding-right: 12.5rem !important;
  }

  
  .pr-250 {
    padding-right: 15.625rem !important;
  }
  .pr-300 {
    padding-right: 20rem !important;
  }